<script src="<?php echo $this->getSkinUrl('js/jquery.min.js') ?>"></script>
<script src="<?php echo $this->getSkinUrl('js/jquery.cycle.js') ?>" type="text/javascript"></script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/jquery.cycle.css') ?>" type="text/css" media="screen" />
<!--[if lt IE 7]>
    <script type="text/javascript" src="<?php echo $this->getSkinUrl('js/pngfix.js') ?>"></script>
    <script type="text/javascript">DD_belatedPNG.fix('*');</script>
<![endif]-->
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/style.css') ?>" type="text/css" media="screen" />
<!-- <?php echo $this->getSkinUrl('js/cufon.js') ?> -->
<script src="<?php echo $this->getSkinUrl('js/cufon-yui.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('js/Proxima_Nova_Rg_400.font.js') ?>" type="text/javascript">
</script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/jquery-ui.min.js') ?>"></script>
<script type="text/javascript">
    Cufon.replace('h1, h2, h3, h4, .him-top-menu ul li, .regular-price, .button, .button-big, .note', { hover: true, fontFamily: 'Proxima Nova Rg' });
    Cufon.replace('.button1, .button1-big', { textShadow: '1px 1px 0 #a43815', fontFamily: 'Proxima Nova Rg' });
    Cufon.replace('.him-announce', { fontFamily: 'Proxima Nova Rg' });
</script>
<link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/prettyPhoto.css') ?>" type="text/css" media="screen" />
<script src="<?php echo $this->getSkinUrl('js/jquery.prettyPhoto.js') ?>" type="text/javascript"></script>
<script type="text/javascript">
    jQuery.noConflict();
    jQuery(document).ready(function() {
        /* pretty photo responds on rel='prettyPhoto' */
        jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
</script>
<script type="text/javascript">
    var newwindow;
    function popwin(url)
    {
        newwindow=window.open(url,'name','location=1,status=1,scrollbars=1,height=600,width=700');
        if (window.focus) {newwindow.focus()}
    }
    function playsound(){  $.prettyPhoto.open('playsound.php', 'title', 'Play Sound'); }
    function playsound1( pUrl ){
        var url = pUrl+"?iframe=true&width=500&height=480";
        jQuery.prettyPhoto.open( url );
    }
    jQuery(document).ready(function(){
        jQuery('#toggler').toggle(
        function(){ // you can add as much here as you'd like
            jQuery('#tgbody').show('slow');
            jQuery('#imgArrows').attr('src','<?php echo $this->getSkinUrl('images/tg-open.jpg') ?>');
        }, function() { // same here
            jQuery('#tgbody').hide('slow');
            jQuery('#imgArrows').attr('src','<?php echo $this->getSkinUrl('images/tg-closed.jpg') ?>');
        });
    });
    jQuery(document).ready(function(){
        //Hide (Collapse) the toggle containers on load
        //$(".toggle_container").hide();
        //Switch the "Open" and "Close" state per click then slide up/down (depending on open/close state)
        jQuery("h3.trigger, #faq h3").click(function(){
            jQuery(this).toggleClass("active").next().slideToggle("slow");
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/360player.css') ?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/inlineplayer.css') ?>" />
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinUrl('css/flashblock.css') ?>" />
<!-- special IE-only canvas fix -->
<!--[if IE]><script type="text/javascript" src="<?php echo $this->getSkinUrl('js/excanvas.js') ?>"></script><![endif]-->
<!-- Apache-licensed animation library -->
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/berniecode-animator.js') ?>"></script>
<!-- the core stuff -->
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/360player.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/inlineplayer.js') ?>"></script>
<!-- Load SWFObject, used for video embedding -->
<script src="<?php echo $this->getSkinUrl('js/swfobject.js') ?>" type="text/javascript" charset="utf-8"></script>
<!-- End Load -->