<?php /*
<div class="him-boxed-top him-compare">
    <h2><?php echo $this->__('Compare Products') ?> 
        <?php if ($this->helper('catalog/product_compare')->getItemCount() > 0): ?>
            <?php echo $this->__('(%d)', $this->helper('catalog/product_compare')->getItemCount()) ?>
        <?php endif; ?>
    </h2>
    <?php if ($this->helper('catalog/product_compare')->getItemCount() > 0): ?>                
        <table cellpadding="0" cellspacing="0" width="100%">
            <?php foreach ($this->helper('catalog/product_compare')->getItemCollection() as $_index => $_item): ?>
                <tr class="him-odd">
                    <td>
                        <input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                        <a href="<?php echo $_item->getProductUrl() ?>">
                            <?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?>
                        </a>
                    </td>
                    <td>
                        <a href="<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>">
                            <img src="<?php echo $this->getSkinUrl("images/del.png") ?>" width="16" height="16" alt="" class="vm"/>
                        </a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
        <script type="text/javascript">decorateList('compare-items')</script>
    </div>
    <div class="him-boxed-btm clearfix">
        <div class="fl"><a href="<?php echo $this->helper('catalog/product_compare')->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a></div>
        <button class="button1 fr" onclick="popWin('<?php echo $this->helper('catalog/product_compare')->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><?php echo $this->__('Compare') ?></button>

    <?php else: ?>
        <p class="empty"><?php echo $this->__('Click <b>"Add to compare"</b> to hear your favorites side by side') ?></p>
    </div>
    <div class="him-boxed-btm clearfix">        
    <?php endif; ?>

</div>
*/ ?>
<?php
$leftbar_block = Mage::getModel('cms/block')->load('leftbar-block');
//dunghd fix title
$_resource = Mage::getSingleton('core/resource');
$_conn = $_resource->getConnection('core_read');
$_str = "SELECT
                cms_block.title
                FROM
                cms_block 
                JOIN
                cms_block_store
                WHERE
                cms_block.block_id = cms_block_store.block_id
                AND
                cms_block.identifier = 'leftbar-block'
                AND
                cms_block_store.store_id = '" . Mage::app()->getStore()->getStoreId() . "'
                ";
$_query = $_conn->query($_str);
$_results = $_query->fetchAll();
$_title = $_results['0']['title'];
?>
<div class="him-boxed-top him-compare">
    <h2 class="mb0"><?php echo $_title; ?></h2>
    <p class="mt0"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('leftbar-block')->toHtml() ?> </p>
</div>
<div class="him-boxed-btm clearfix">
    <div class="fl"><!--  --></div>
    <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('learn_more_link')->toHtml() ?> 
</div>     
