<div class="block-buy">
    <div class="boxgrid caption boxgrid-01">
        <img src="<?php echo $this->getSkinUrl('images/himalaya-01.jpg') ?>"/>
        <div class="cover boxcaption">
            <h3>Buy Antique Singing Bowls</h3>
            <ul>
                <li><a href="#">Handmade Gold Color</a></li>
            </ul>
        </div>
    </div>
    <div class="boxgrid caption boxgrid-04">
        <img src="<?php echo $this->getSkinUrl('images/himalaya-02.jpg') ?>"/>
        <div class="cover boxcaption">
            <h3>Buy New Singing Bowls </h3>
            <ul>
                <li><a href="#">Handmade Engraved Bronze Color</a></li>
                <li><a href="#">Handmade Engraved Copper Color</a></li>
                <li><a href="#">New Harmonic Singing Bowl Sets</a></li>
                <li><a href="#">New Harmonic Singing Bowl Sets</a></li>
            </ul>
        </div>
    </div>
    <div class="boxgrid caption boxgrid-02">
        <img src="<?php echo $this->getSkinUrl('images/himalaya-03.jpg') ?>"/>
        <div class="cover boxcaption">
            <h3>Singing Bowl Music & more</h3>
            <ul>
                <li><a href="#">Singing Bowl Musics</a></li>
                <li><a href="#">Singing Bowl Books</a></li>
            </ul>
        </div>
    </div>
</div>