    <script type="text/javascript">
	jQuery(function() {
	    jQuery('#slideshow').cycle({
	        fx:     'fade',
	        speed:  800,
	        timeout: 5000,
            pause:         1,     // true to enable "pause on hover"
            pauseOnPagerHover: 1, // true to pause when hovering over pager link
	        pager:  '#slideshownav',
            next:   '#slideshownext',
            prev:   '#slideshowprev',
	        pagerAnchorBuilder: function(idx, slide) {
	            // return sel string for existing anchor
	            return '#slideshownav li:eq(' + (idx) + ') a';
	        }
	    });
	    jQuery('li a').click(function() {
	        jQuery('#slideshow').cycle('pause');
	    });
		jQuery('#pauseButton').click(function() {
		    jQuery('#slideshow').cycle('pause');
		});
		jQuery('#resumeButton').click(function() {
		    jQuery('#slideshow').cycle('resume');
		});
	});
	</script>
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/jquery.jcarousel.css') ?>" type="text/css" media="screen" />
    <link rel="stylesheet" href="<?php echo $this->getSkinUrl('css/jquery.jcarousel-home.css') ?>" type="text/css" media="screen" />
    <script src="<?php echo $this->getSkinUrl('js/jquery.jcarousel.js') ?>" type="text/javascript"></script>
    <script src="<?php echo $this->getSkinUrl('js/jquery.easing.js') ?>" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(function() { jQuery('#him-featured').jcarousel({ animation: 1000, start: 1, scroll:4, easing: "swing" });   });
		/*jQuery(document).ready(function() {
			jQuery('#faq').accordion({
				autoHeight  : false,
				navigation  : true
			});
  		})*/;
    </script>
