<?php /* ?>
<div class="block block-compare">
    <div class="block-title">
        <strong><span><?php echo $this->__('Compare Products') ?>
            <?php if($this->helper('catalog/product_compare')->getItemCount()>0): ?>
                <small><?php echo $this->__('(%d)', $this->helper('catalog/product_compare')->getItemCount()) ?></small>
            <?php endif; ?>
        </span></strong>
    </div>
    <div class="block-content">
    <?php if($this->helper('catalog/product_compare')->getItemCount()>0): ?>
        <ol id="compare-items">
        <?php foreach($this->helper('catalog/product_compare')->getItemCollection() as $_index=>$_item): ?>
            <li class="item">
                <input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                <a href="<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>" title="<?php echo $this->__('Remove This Item') ?>" class="btn-remove" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove this item from the comparison list?') ?>');"><?php echo $this->__('Remove This Item') ?></a>
                <p class="product-name"><a href="<?php echo $this->getProductUrl($_item) ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></p>
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('compare-items')</script>
        <div class="actions">
            <a href="<?php echo $this->helper('catalog/product_compare')->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a>
            <button type="button" title="<?php echo $this->__('Compare') ?>" class="button" onclick="popWin('<?php echo $this->helper('catalog/product_compare')->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><span><span><?php echo $this->__('Compare') ?></span></span></button>
        </div>
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items to compare.') ?></p>
    <?php endif; ?>
    </div>
</div>
<?php */ ?>

<div class="him-boxed-top him-compare">
                <h2><?php echo $this->__('Compare Products') ?> 
                <?php if($this->helper('catalog/product_compare')->getItemCount()>0): ?>
                <?php echo $this->__('(%d)', $this->helper('catalog/product_compare')->getItemCount()) ?>
            	<?php endif; ?>
                </h2>
<?php if($this->helper('catalog/product_compare')->getItemCount()>0): ?>                
                <table cellpadding="0" cellspacing="0" width="100%">
                  <?php foreach($this->helper('catalog/product_compare')->getItemCollection() as $_index=>$_item): ?>
                   <tr class="him-odd">
                    <td><input type="hidden" class="compare-item-id" value="<?php echo $_item->getId() ?>" />
                    <a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName(), 'name') ?></a></td>
                    <td><a href="<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>"><img src="<?php echo $this->getSkinUrl("images/del.png")?>" width="16" height="16" alt="" class="vm"/></a></td>
                  </tr>

			      <?php endforeach; ?>
                  <script type="text/javascript">decorateList('compare-items')</script>
                  <!--
                  <tr class="him-odd">
                    <td><a href="#">Product Name</a></td>
                    <td><a href="#"><img src="<?php echo $this->getSkinUrl("images/del.png")?>" width="16" height="16" alt="" class="vm"/></a></td>
                  </tr>
                  <tr class="him-even">
                    <td><a href="#">Product Name</a></td>
                    <td><a href="#"><img src="<?php echo $this->getSkinUrl("images/del.png")?>" width="16" height="16" alt="" class="vm"/></a></td>
                  </tr>
                  -->
                </table>
            </div>
            <div class="him-boxed-btm clearfix">
                <div class="fl"><a href="<?php echo $this->helper('catalog/product_compare')->getClearListUrl() ?>" onclick="return confirm('<?php echo $this->__('Are you sure you would like to remove all products from your comparison?') ?>');"><?php echo $this->__('Clear All') ?></a></div>
                <button class="button1 fr" onclick="popWin('<?php echo $this->helper('catalog/product_compare')->getListUrl() ?>','compare','top:0,left:0,width=820,height=600,resizable=yes,scrollbars=yes')"><?php echo $this->__('Compare') ?></button>
                
    <?php else: ?>
        <p class="empty"><?php echo $this->__('You have no items to compare.') ?></p>
            </div>
            <div class="him-boxed-btm clearfix">        
    <?php endif; ?>
                
            </div>
			<?php
			 $leftbar_block = Mage::getModel('cms/block')->load('leftbar-block'); 
 			 
             //dunghd fix title
             $_resource = Mage::getSingleton('core/resource');
             $_conn = $_resource->getConnection('core_read');
             $_str = "SELECT
                cms_block.title
                FROM
                cms_block 
                JOIN
                cms_block_store
                WHERE
                cms_block.block_id = cms_block_store.block_id
                AND
                cms_block.identifier = 'leftbar-block'
                AND
                cms_block_store.store_id = '" . Mage::app()->getStore()->getStoreId() .   "'
                ";          
             $_query = $_conn->query($_str);
             $_results = $_query->fetchAll();
             $_title=$_results['0']['title'];
			?>
             <div class="him-boxed-top him-compare">
                <h2 class="mb0"><?php echo $_title;?></h2>
                <p class="mt0"><?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('leftbar-block')->toHtml() ?> </p>
            </div>
            <div class="him-boxed-btm clearfix">
                <div class="fl"><!--  --></div>
               	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('learn_more_link')->toHtml() ?> 
                <!--<button class="button1 fr">Learn More</button>-->
            </div>

<?php
/*
?>            
            <div class="him-boxed-top him-compare">
                <h2 class="mb0">Lorem Box</h2>
                <p class="mt0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eu ipsum enim, id ornare tellus. Curabitur vel porttitor sem. Proin tincidunt vulputate auctor. Nam volutpat lacinia commodo. </p>
            </div>
            <div class="him-boxed-btm clearfix">
                <div class="fl"><!--  --></div>
                <button class="button1 fr">Learn More</button>
            </div>

            <div class="him-boxed">
                 <div id="toggler">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td><h2 style="border:0px; margin-bottom:0px;">Shopping Options</h2></td>
                        <td style="padding-top:6px;"><img src="<?=$img_dir?>/tg-closed.jpg" id="imgArrows" /></td>
                      </tr>
                    </table>
                 </div>
                 <div id="tgbody" style="display:none">
                 <div class="separator" style="margin-top:0px; padding-top;0px;"><!--  --></div>
                 <h3>Category</h3>
                 <ul>
                    <li><a href="#">Living Room</a>  (4)</li>
                    <li><a href="#">Bedroom</a>  (2) </li>
                 </ul>
                 <h3>Price</h3>
                 <ul>
                    <li><a href="#">$0.00 - $1,000.00</a>  (4)</li>
                    <li><a href="#">$2,000.00 - $3,000.00  </a>  (2) </li>
                 </ul>
                <h3>Color</h3>
                 <ul>
                    <li><a href="#">Brown</a>  (4)</li>
                    <li><a href="#">Red</a>  (2) </li>
                 </ul>
                 </div>
            </div>
<?php
*/
?>            

            