/*Demo Styles*/
*{ padding:0px; margin:0px;}
.boxgrid{width:214px;height:283px;margin-right:15px;float:left;position: relative;top:-5px;overflow:hidden;padding:5px 0 0 5px}
.boxgrid img{width:192px;height:218px;border:1px solid #d1d1d1;padding:10px}
.boxgrid p{padding: 0 10px;color:#afafaf;font-weight:bold;font:10pt "Lucida Grande", Arial, sans-serif;}
.boxcaption{float: left;position: absolute;background-color: #e7e2d7;height: auto;width: 100%;}
.caption .boxcaption {top: 245px;left:4px;}				
.block-buy{background-color:#fff;width:760px}				
.block-buy .caption .boxcaption h3{font-size:14px;color:#ece6da;font-family:arial;text-transform:capitalize; height:43px;overflow:hidden;line-height:43px;background:url(../images/bt-title-block-buy.png) no-repeat;text-align:center}		
.block-buy .caption .boxcaption ul{padding:5px 13px 8px;list-style:none}		
.block-buy .caption .boxcaption ul li{padding:1px 0 1px 12px;background:url(../images/arrow-block-buy.jpg) 0 8px no-repeat}		
.block-buy .caption .boxcaption ul li a{color:#282828;text-decoration:none;font-size:11px;font-family:arial}		
.block-buy .caption .boxcaption ul li a:hover{color:#691011}
.block-buy .boxgrid .stricker {position:absolute; top:-9px; left:-10px;border:none}
.block-buy .boxgrid .stricker img{height:125px;width:125px;border:none}