<div class="him-sidemenu">
<?php foreach ($this->getStoreCategories() as $_category): ?>
    <?php
    $is_selected = false;
    $tmpl_flag = "";
    if ($_category->getIsActive()) {
        ( $_category->getName() == 'New Singing Bowls' ) ? $tmpl_flag = " tgactive" : $tmpl_flag = "";
        $tmpl_flag = "";
        $class = 'trigger';
        if ($this->isCategoryActive($_category)) {
            $class = 'trigger active';
            $tmpl_flag = " tgactive";
        }


        $potential = $_category->hasChildren();
        $text_sub = '';

        if ($potential) {

            foreach ($_category->getChildren() as $subcategory) {
                $subCat = Mage::getModel('catalog/category')->load($subcategory->getId());

                if ($this->isCategoryActive($subCat)) {
                    $class = 'trigger active';
                    $tmpl_flag = " tgactive";
                }
                $url = $this->getCategoryUrl($subCat);
                $name = $subCat->getName();
                $text_sub .= '
								<li><a href="' . $url . '">' . $name . '</a></li>';
            }
            ?>
            <h3 class="<?php echo $class; ?>"><?php echo $_category->getName(); ?></h3>
            <?php
            ?>		  			
            <div class="toggle_container<?php echo $tmpl_flag ?>">
                <div class="block">
                    <ul>
                        <?php echo $text_sub; ?>
                    </ul>
                </div>
            </div>
            <?php
        } else {
            ?>
            <h3 class="<?php echo $class; ?>"><?php echo $_category->getName(); ?></h3>
            <?php
        }
        ?>
    <?php } ?>			
<?php endforeach ?>			

<?php
$uri = Mage::app()->getFrontController()->getRequest()->getRequestString();
$tmpl_flag_about_bowls = '';
$tmpl_flag_about_us = '';
$tmpl_flag_about_bowls_class = 'trigger';
$tmpl_flag_about_us_class = 'trigger';
if (!$is_selected) {
    if (strstr($uri, '/free-singing-bowl-videos/') !== false || strstr($uri, '/how-to-shop-for-singing-bowls/') !== false || strstr($uri, '/choosing-personal-singing-bowl/') !== false || strstr($uri, '/how-to-play-singing-bowls/') !== false || strstr($uri, '/about-antique-singing-bowls/') !== false || strstr($uri, '/how-singing-bowls-are-made/') !== false || strstr($uri, '/singing-bowl-metallurgy/') !== false || strstr($uri, '/science-of-singing-bowl-sound/') !== false || strstr($uri, '/singing-bowl-sound-healing/') !== false || strstr($uri, '/singing-bowl-myths/') !== false) {
        $tmpl_flag_about_bowls = ' tgactive';
        $tmpl_flag_about_bowls_class = 'trigger active';
    }
    if (!$is_selected) {
        if (strstr($_SERVER['REQUEST_URI'], '/about-himalayan-bowls/') !== false || strstr($_SERVER['REQUEST_URI'], '/customer-quotes/') !== false || strstr($_SERVER['REQUEST_URI'], '/customer-service/') !== false || strstr($_SERVER['REQUEST_URI'], '/user_forum/') !== false || strstr($_SERVER['REQUEST_URI'], '/events/') !== false || strstr($_SERVER['REQUEST_URI'], '/wholesale/') !== false || strstr($_SERVER['REQUEST_URI'], '/contacts/') !== false) {
            $tmpl_flag_about_us = ' tgactive';
            $tmpl_flag_about_us_class = 'trigger active';
            $is_selected = true;
        }
    }
}
?>	

    <h3 class="<?php echo $tmpl_flag_about_bowls_class; ?>"><?php echo $this->__('About Our Singing Bowls') ?></h3>
    <div class="toggle_container<?php echo $tmpl_flag_about_bowls; ?>">
        <div class="block">
            <ul>
                <!-- Free-singing-bowl-videos  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('kostenlose-klangschalen-videos'); ?>"><?php echo $this->__('Free Singing Bowl Videos') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('free-singing-bowl-videos'); ?>"><?php echo $this->__('Free Singing Bowl Videos') ?></a></li>
                <?php endif ?>

                <!-- how-to-shop-for-singing-bowls  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('wie-kaufe-ich-klangschalen'); ?>"><?php echo $this->__('How To Shop For Singing Bowls') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('how-to-shop-for-singing-bowls'); ?>"><?php echo $this->__('How To Shop For Singing Bowls') ?></a></li>
                <?php endif ?>

                <!-- how-to-play-singing-bowls  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('wie-spiele-ich-klangschalen'); ?>"><?php echo $this->__('How To Play Singing Bowls') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('how-to-play-singing-bowls'); ?>"><?php echo $this->__('How To Play Singing Bowls') ?></a></li>
                <?php endif ?>
<!--<li><a href="<?php echo $this->getUrl('about-antique-singing-bowls'); ?>"><?php echo $this->__('About antique singing bowls') ?></a></li>-->
<!--<li><a href="<?php echo $this->getUrl('how-singing-bowls-are-made'); ?>"><?php echo $this->__('How singing bowls are made') ?></a></li>-->
<!--<li><a href="<?php echo $this->getUrl('singing-bowl-metallurgy'); ?>"><?php echo $this->__('Singing bowl metallurgy') ?></a></li>-->
<!--<li><a href="<?php echo $this->getUrl('science-of-singing-bowl-sound'); ?>"><?php echo $this->__('Science of singing bowl sound') ?></a></li>-->
<!--<li><a href="<?php echo $this->getUrl('singing-bowl-sound-healing'); ?>"><?php echo $this->__('Singing bowl sound healing') ?></a></li>-->
<!--<li><a href="<?php echo $this->getUrl('singing-bowl-myths'); ?>"><?php echo $this->__('Singing bowl myths') ?></a></li>-->
                <li><a href="http://himalayanbowls.com/singing-bowls-information/" target="_blank"><?php echo $this->__('More Information Pages') ?></a></li>
            </ul>
        </div>
    </div>
    <h3 class="<?php echo $tmpl_flag_about_us_class; ?>"><?php echo $this->__('About Us') ?></h3>
    <div class="toggle_container<?php echo $tmpl_flag_about_us; ?>">
        <div class="block">
            <ul>
                <!-- About Himalayan Bowls  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('uber-himalayan-bowls'); ?>"><?php echo $this->__('About Himalayan Bowls') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('about-himalayan-bowls'); ?>"><?php echo $this->__('About Himalayan Bowls') ?></a></li>
                <?php endif ?>
                <!-- Customer Quote  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('kundenzitate'); ?>"><?php echo $this->__('Customer Quotes') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('customer-quotes'); ?>"><?php echo $this->__('Customer Quotes') ?></a></li>
                <?php endif ?>
                <!-- Customer Service  -->
                <?php if (Mage::app()->getStore()->getStore_id() == 2) : ?>
                    <li><a href="<?php echo $this->getUrl('kundenservice'); ?>"><?php echo $this->__('Customer Service') ?></a></li>
                <?php else : ?>
                    <li><a href="<?php echo $this->getUrl('customer-service'); ?>"><?php echo $this->__('Customer Service') ?></a></li>
                <?php endif ?>
                       <!-- <li><a href="<?php echo $this->getUrl('user_forum'); ?>"><?php echo $this->__('User forum') ?></a></li>-->
                        <!--<li><a href="<?php echo $this->getUrl('events'); ?>"><?php echo $this->__('Events') ?></a></li>-->
                        <!--<li><a href="<?php echo $this->getUrl('wholesale'); ?>"><?php echo $this->__('Wholesale') ?></a></li>-->
                <li><a href="<?php echo $this->getUrl('contacts'); ?>"><?php echo $this->__('Contact') ?></a></li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
</div>