<?php /**
  <?php foreach ($this->getStoreCategories() as $_category): ?>
  <?php
  if ($_category->getIsActive()) {
  $potential = $_category->hasChildren();
  $text_sub = '';
  if ($potential) {
  foreach ($_category->getChildren() as $subcategory) {
  $subCat = Mage::getModel('catalog/category')->load($subcategory->getId());
  if ($this->isCategoryActive($subCat)) {
  $class = 'trigger active';
  $tmpl_flag = " tgactive";
  }
  $url = $this->getCategoryUrl($subCat);
  $name = $subCat->getName();
  $text_sub .= '<li><a href="' . $url . '">' . $name . '</a></li>';
  }
  ?>
  <h3 class="<?php echo $class; ?>"><?php echo $_category->getName(); ?></h3>
  <?php
  } else {
  ?>
  <h3 class="<?php echo $class; ?>"><?php echo $_category->getName(); ?></h3>
  <?php
  }
  ?>
  <?php } ?>
  <?php endforeach ?>
 * 
 */ ?>
 
<?php $image_count = 1 ?>
<?php foreach ($this->getStoreCategories() as $_category): ?>
    
    <?php if ($_category->getIsActive()) : ?>      
        <?php $potential = $_category->hasChildren(); ?>      
        <?php if ($potential) : ?>      
            <?php $child_count = 0 ?>
            <?php foreach ($_category->getChildren() as $subcategory) : ?>      
                <?php $child_count++ ?>
            <?php endforeach ?>      
            <div class="boxgrid caption boxgrid-0<?php echo $child_count ?>">
				<?php $parentCat = Mage::getModel('catalog/category')->load($_category->getId()); ?>
				<a href="<?php echo $this->getCategoryUrl($parentCat) ?>">  
                <img src="<?php echo $this->getSkinUrl('images/himalaya-0' . $image_count . '.jpg') ?>" alt="image"/>
				</a>
                <div class="cover boxcaption">
					<a href="<?php echo $this->getCategoryUrl($parentCat) ?>"> 
                    <h3><?php echo $_category->getName(); ?></h3>
					</a>
                    <ul>
                        <?php foreach ($_category->getChildren() as $subcategory) : ?> 
                            <?php $subCat = Mage::getModel('catalog/category')->load($subcategory->getId()); ?>
                            <li><a href="<?php echo $this->getCategoryUrl($subCat) ?>"><?php echo $subCat->getName(); ?></a></li>
                        <?php endforeach ?>                      
                    </ul>
                </div>
                <?php if ($image_count == 3) :?>

                <?php else:?>
					<a href="<?php echo $this->getCategoryUrl($parentCat) ?>"> 
                    <div class="stricker"><img src="<?php echo $this->getSkinUrl('images/stricker-' . $image_count . '.png') ?>" alt="Stricker"/></div>					
					</a>
					
					<p class="sale-off"><img src="http://www.himalayanbowls.com/skin/frontend/bowls/modern/images/sale-off.png" alt="sale off">    
                        <span class="discount">50% </span>
                        <span class="sf">Off</span>
                    </p>
                <?php endif;?>
                
                <?php $image_count++ ?>
            </div>
        <?php endif ?>
    <?php endif ?>
<?php endforeach ?>
