<h1>TEST</h1>			<?php foreach ($this->getStoreCategories() as $_category): ?>
			<?php 
			$tmpl_flag = "";			
			if ($_category->getIsActive()) { 
			 ( $_category->getName() == 'New Singing Bowls' )?$tmpl_flag = " tgactive":$tmpl_flag = "";
			?>
			<h3 class="trigger"><?php echo $_category->getName(); ?></h3>
			<?php
		
		  		$potential = $_category->hasChildren();
		  		if($potential){
			?>		  			
                <div class="toggle_container<?=$tmpl_flag?>">
                	<div class="block">
                      <ul>
                      <?php
                      		foreach ($_category->getChildren() as $subcategory){
	                  			$subCat = Mage::getModel('catalog/category')->load($subcategory->getId());
           						$url = $this->getCategoryUrl($subCat);
								$name = $subCat->getName();
								?>
								<li><a href="<?=$url?>"><?=$name?></a></li>
								<?php

                      		}
                      ?>
                      </ul>
                    </div>
                </div>
		  	<?php		
		  		}
			?>
			<?php } ?>			
			<?php endforeach ?>			
