body {
  background: #5f060f url(../images/main-background.jpg) repeat-x top;
  padding-top:20px;
  line-height:18px;
  font-size:12px;
  font-family:Arial;
}
/* remember to define focus styles! */
:focus {	outline: 0; }

.clear { clear:both; }
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

.mb0 {
  margin-bottom:0px;
}
.mt0 {
  margin-top:0px;
}
.fr {
  float:right;
}
.fl {
  float:left;
}
.vm {
  vertical-align:middle;
}
.center {
  text-align:center;
}
.right {
  text-align:right;
}
.small {
  font-size:10px;
}

a img {
  border:none;
}
a {
  color:#f69c1a;
  text-decoration:none;
}
a:hover {
  color:#f69c1a;
  text-decoration:underline;
}


.him-contain {
  width:960px;
  margin:0 auto;
}
.him-white {
  background:#ffffff;
  color:#444444;
  padding-left:18px;
  padding-right:18px;
  padding-top:20px;
  padding-bottom:20px;
}
.him-logo {
  float:left;
  width:300px;
  padding-left:10px;
  padding-bottom:10px;
}
.him-sect {
    float:right;
}
.him-reg {
  padding-top:8px;
  padding-right:20px;
}
.him-reg select {
  background:#fafafa;
  border:1px solid #dbdbdb;
}

.him-cart {
  background:url(../images/cart-off-background.gif) no-repeat;
  width:200px;
  height:26px;
  text-align:left;
  padding-right:10px;
  padding-left:40px;
  padding-top:5px;
  margin-top:10px;
}
.him-cart a {
  color:#444444;
  text-decoration:none;
}
.him-cart a:hover  {
  color:#444444;
  text-decoration:underline;
}

.him-top-menu {
  width:614px;
  float:right;
  padding-bottom:10px;
}
.him-top-menu ul {
  list-style:none;
  margin:0px;
  padding:0px;
  float:right;
}
.him-top-menu ul li {
  float:left;
  display:block;
  border-right:1px solid #f9b510;
  padding-right:12px;
  margin-left:12px;
  font-size:13px;
}
.him-top-menu .last {
  border:none;
  padding-right:0px;
}
.him-top-menu a {
  color:#444444;
  text-decoration:none;
}
.him-top-menu a:hover  {
  color:#f69c1a;
  text-decoration:none;
}

.him-announce {
  background:url(../images/top-announcement-bar-backgr.gif) no-repeat;
  height:29px;
  width:924px;
  padding-top:10px;
  overflow:hidden;
  color:#ffffff;
  font-size:15px;
  text-align:center;
  margin-bottom:12px;
}
.him-white-shadow {
  background:url(../images/main-white-shadow.png) no-repeat top center;
  width:960px;
  height:9px;
}
.him-footer {
  color:#ffffff;
  padding-top:20px;
  padding-bottom:20px;
}
.him-footer .separator {
  border-top:1px solid #70242a;
  padding-top:10px;
  margin-top:0px;
}

.him-footer .panel {
  width:174px;
  min-height:150px;
  border-right:1px solid #70242a;
  padding-left:20px;
  padding-bottom:20px;
  padding-right:20px;
  float:left;
}
.him-footer .panel-last {
  width:280px;
  min-height:150px;
  border:none;
  padding-left:20px;
  padding-bottom:20px;
  float:left;
}
.him-footer .copy {
  padding-left:20px;
  padding-right:20px;
}

.him-footer h3 {
  font-size:17px;
  margin-top:0px;
  margin-bottom:10px;
  line-height:19px;
  color:#ffffff;
  font-weight:normal;
}
.him-footer ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
.him-footer ul li {
  margin-bottom:4px;
}
.him-footer a {
  color:#ffffff;
  text-decoration:none;
}
.him-footer a:hover {
  color:#ffffff;
  text-decoration:underline;
}
.him-footer .social {
  font-size:10px;
  padding-bottom:8px;
}
.him-footer .social td {
  width:90px;
  text-align:center;
}


.him-search {
  background:url(../images/search-background.gif) no-repeat;
  height:37px;
  width:189px;
  overflow:hidden;
  padding:10px;
  margin-bottom:10px;
}
.him-search .searchfield {
  background:url(../images/search-field-backgorund.gif) no-repeat;
  font-size:11px;
  width:128px;
  height:22px;
  border:none;
  padding:0px;
  padding-left:30px;
  margin:0px;
  line-height:22px;
}
.him-search a {
  color:#ffffff;
  text-decoration:underline;
}
.him-search a:hover {
  color:#ffffff;
  text-decoration:none;
}


.him-sidebar {
  width:209px;
  float:left;
}
.him-maincol {
  width:702px;
  float:right;
}
.him-maincol .one-half {
  width:340px;
  float:left;
  margin-right:20px;
}
.him-maincol .one-half-last {
  width:340px;
  float:left;
  margin-right:0px;
}
h3 {
  margin-top:4px;
  margin-bottom:8px;
  font-weight:normal;
  color:#933f22;
}
h2 {
  margin-top:4px;
  margin-bottom:8px;
  font-weight:normal;
  color:#933f22;
}
h1 {
  margin-top:0px;
  margin-bottom:10px;
  padding:0px;
  font-size:22px;
  color:#933f22;
}
.him-maincol p {
  margin-top:8px;
  margin-bottom:10px;
}


.him-sidemenu {
  margin:0px;
}
/* .him-sidemenu h3 {
  margin:0px;
  padding:0px;
  background:url(../images/sidemenu-op-background.gif) no-repeat;
  height:26px;
  width:179px;
  padding-left:30px;
  padding-top:5px;
  font-weight:normal;
  font-size:14px;
  color:#933f22;
} */
.him-sidemenu ul {
  list-style:none;
  margin:0px;
  padding:0px;
  padding-top:8px;
  padding-bottom:8px;
}
.him-sidemenu ul li {
  margin-bottom:2px;
  padding-left:10px;
}
.him-sidemenu ul li a {
  color:#444444;
  text-decoration:none;
}
.him-sidemenu ul li a:hover {
  color:#f69c1a;
  text-decoration:underline;
}
.him-sidemenu .active a, .him-sidemenu .active a:hover {
  color:#f69c1a;
  font-weight:bold;
}


.him-slideshow {
  background:url(../images/slide-background.jpg) no-repeat;
  width:702px;
  height:302px;
  overflow:hidden;
  margin-bottom:12px;
  position:relative;
  z-index:2;
}

.him-carousel {
  margin-bottom:20px;
}
.him-carousel-box-top-left {
  background: url(../images/carousel-box_01.png) no-repeat top left;
  height:8px;
}
.him-carousel-box-top-right {
  background: url(../images/carousel-box_02.png) no-repeat top right;
  height:8px;
}
.him-carousel-box-mid-left {
  background: url(../images/carousel-box_03.png) repeat-y bottom left;
}
.him-carousel-box-mid-right {
  background: url(../images/carousel-box_04.png) repeat-y bottom right;
}
.him-carousel-box-btm-left {
  background: url(../images/carousel-box_05.png) no-repeat top left;
  height:8px;
}
.him-carousel-box-btm-right {
  background: url(../images/carousel-box_06.png) no-repeat top right;
  height:8px;
}
.him-carousel-box-mid-left .pad {
  padding-left:12px;
  padding-right:12px;
  padding-top:4px;
  padding-bottom:4px;
}
.him-carousel-box-mid-left  h2 {
  margin-top:0px;
  padding:0px;
  font-weight:normal;
  color:#933f22;
}
.him-carousel-box-mid-left .box {
  border:1px solid #d2cdc2;
  background:#ffffff;
  min-height:180px;
}

#him-featured .red, .him-maincol .red, .him-sidebar .red, .required {
 color:#ce0000;
}
#him-featured .button {
  padding-top:8px;
  padding-bottom:0px;
  background:none;
  border:none;
  text-align:left;
  margin:0px;
  cursor:pointer;
}
.him-breadcrumbs {
  margin-bottom:2px;
}

.him-breadcrumbs ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
.him-breadcrumbs ul li {
  float:left;
  display:block;
  padding-right:8px;
  font-size:11px;
}

.btnone {
  border:none !important;
  padding-top:0px !important;
}

.him-grid-product {
  float:left;
  width:130px;
  padding-left:5px;
  padding-right:5px;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
  margin-top:8px;
  margin-bottom:8px;
}
.him-grid-product .product-image img {
  width:130px;
}
.him-grid-product .product-name {
  font-weight:bold;
}
.him-grid-product .button {
  margin-top:10px;
  margin-bottom:5px;
  background:none;
  border:none;
  text-align:left;
  padding:0px;
  cursor:pointer;
}
.him-grid-product .link {
  font-size:11px;
  font-weight:bold;
  margin-top:3px;
}


.him-grid-product-bigger {
  float:left;
  width:220px;
  padding-left:5px;
  padding-right:5px;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
  margin-top:8px;
  margin-bottom:8px;
  position:relative;
}
.him-grid-product-bigger .product-image img {
  width:220px;
}
.him-grid-product-bigger .product-listen {
  position:absolute;
  z-index:99;
  top:196px;
  left:70px;
}

.him-grid-product-bigger .product-name {
  font-weight:bold;
  font-size:13px;
}
.him-grid-product-bigger .product-nameb {
  font-weight:bold;
  font-size:14px;
}
.him-grid-product-bigger .button {
  margin-top:5px;
  margin-bottom:5px;
  margin-right:auto;
  background:none;
  border:none;
  text-align:left;
  padding:0px;
  cursor:pointer;
}
.him-grid-product-bigger .link {
  font-size:12px;
  font-weight:bold;
  margin-top:3px;
  text-align:center;
}
.him-grid-product-bigger .button1 {
  display:block;
  margin-top:2px;
  margin-bottom:2px;
  text-align:center;
}

.him-grid-product-bigger a.button1 {
   color:#ffffff;
}
.him-grid-product-bigger a.button1:hover {
   color:#ffffff; text-decoration:none;
}

.him-list-product {
  float:left;
  padding-left:5px;
  padding-right:5px;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
  margin-top:5px;
}
.him-list-product .product-image {
  float:left; width:150px;
}
.him-list-product .product-meta {
  float:left; width:130px; overflow:hidden;
}
.him-list-product .product-desc {
  float:left; width:260px;
  padding-right:20px;
}
.him-list-product .product-desc a {
  display:block;
  font-weight:bold;
}

.him-list-product .product-buttons {
  float:right; width:130px;
}
.him-list-product .product-image img {
  width:130px;
}
.him-list-product .product-name {
  font-weight:bold;
}
.him-list-product .button {
  margin-bottom:10px;
  background:none;
  border:none;
  text-align:left;
  padding:0px;
  cursor:pointer;
}
.him-list-product .link {
  font-size:11px;
  font-weight:bold;
  margin-bottom:4px;
}




.him-list-product-bigger {
  float:left;
  padding-left:5px;
  padding-right:5px;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
  margin-top:5px;
}
.him-list-product-bigger .product-image {
  float:left; width:200px;
}
.him-list-product-bigger .product-meta {
  float:left; width:130px; overflow:hidden;
}
.him-list-product-bigger .button1 {
  margin-top:4px;
  margin-bottom:4px;
  text-align:center;
  display:block;
}
.him-list-product-bigger a.button1 {
  color:#ffffff; text-decoration:none;
}
.him-list-product-bigger a.button1:hover {
  color:#ffffff; text-decoration:none;
}
.him-list-product-bigger .product-desc {
  float:left; width:342px;
  padding-right:20px;
}
.him-list-product-bigger .product-desc a {
  display:block;
  font-weight:bold;
}

.him-list-product-bigger .product-buttons {
  float:right; width:130px;
}
.him-list-product-bigger .product-image img {
  width:180px;
}
.him-list-product-bigger .product-name {
  font-weight:bold;
}
.him-list-product-bigger .button {
  margin-bottom:10px;
  background:none;
  border:none;
  text-align:left;
  padding:0px;
  cursor:pointer;
}
.him-list-product-bigger .link {
  font-size:12px;
  font-weight:bold;
  margin-bottom:4px;
}



.him-pagination {
  border-top:1px solid #dbdbdb;
  padding-top:5px;
  font-size:11px;
  margin-top:5px;
}
.him-pagination .item-left {
  float:left;
  padding-right:20px;
}
.him-pagination .item-right {
  float:right;
  padding-left:20px;
}
.him-pagination input, .him-pagination select {
  border:1px solid #dbdbdb;
  font-size:11px;
  color:#444444;
  padding:2px;
}
.him-pagination .separator {
  border-top:1px solid #dbdbdb;
  margin-top:4px;
  padding-top:5px;
}


.him-detail-product {
  width:340px;
  padding-right:20px;
  float:left;
}
.him-detail-product .small {
  font-size:11px;
}
.him-detail-product .note {
  border:1px solid #dbdbdb;
  padding:30px;
  margin-top:20px;
  margin-bottom:20px;
  font-size:20px;
  line-height:24px;
}

.him-detail-description {
  width:340px;
  float:left;
}
.him-detail-description .short-description h2 {
  font-size:17px;
  font-weight:bold;
  color:#842a12;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
}
.him-detail-description  ul.add-to-links  {
  list-style:none;
  margin:0px;
  padding:0px;
  border-top:1px solid #dbdbdb;
  padding-top:10px;
  margin-top:10px;
  margin-bottom:15px;
}
.him-detail-description  ul.add-to-links li  {
  float:left;  padding-right:15px;
}
.him-detail-description .rating {
  text-align:left;
  float:left;
}
.him-detail-description .price-box {
  text-align:right;
  float:right;
}
.him-detail-description .regular-price {
  font-size:24px; text-align:right;
  color:#333333;
}
.him-detail-description .availability  {
  margin-top:0px;
}
.him-detail-description .product-options {

}
.him-detail-description .product-options dt {
   float:left;
   clear:both;
   margin-bottom:5px;
}
.him-detail-description .product-options dd {
   float:right;
   margin-bottom:5px;
}
.him-detail-description .product-options dl {
  clear:both;
  margin:0px;
}
.him-detail-description .product-options label {
  display:block; margin-top:8px;  font-weight:bold;
}

.him-detail-description .product-options input, .him-detail-description .product-options select {
  border:1px solid #dbdbdb; padding:3px;
}
.him-detail-description .product-options-bottom {
  border-top:1px solid #d2cdc2;
  padding-top:5px; margin-top:5px;
}

.him-detail-description .product-options-bottom .price-box {
  float:left;
}
.him-detail-description .product-options-bottom  .regular-price {
  font-size:19px; color:#333333;
}
.him-detail-description .product-options-bottom .add-to-cart {
  float:right;
}
.him-detail-description .product-options-bottom .add-to-cart .qty {
  width:30px;
}
.him-product-collateral  {
  padding-top:15px;
}

.him-product-collateral h2 {
  border-bottom:1px solid #dbdbdb;
  padding-bottom:4px;
  font-size:18px;
  color:#933f22;
  margin-top:10px;
}

.button {
  background:url(../images/btn-bg.jpg) repeat-x;
  border:1px solid #f1770c;
  color:#ffffff;
  padding:2px;
  padding-left:8px;
  padding-right:8px;
  font-weight:bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor:pointer;
}
.button-big {
  background: #f69c1a url(../images/btn-bg.jpg) top repeat-x;
  border:1px solid #f1770c;
  color:#ffffff;
  padding:4px;
  padding-left:8px;
  padding-right:8px;
  font-weight:bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:18px;
  margin-top:4px;
  cursor:pointer;
}


.button1 {
  background:url(../images/btn-bg1.jpg) repeat-x;
  border:1px solid #c5461d;
  color:#ffffff;
  padding:2px;
  padding-left:8px;
  padding-right:8px;
  font-weight:bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:11px;
  text-transform:uppercase;
  cursor:pointer;
  display:block;
}
.button1-big {
  background: #c23609 url(../images/btn-bg1.jpg) top repeat-x;
  border:1px solid #c5461d;
  color:#ffffff;
  padding:4px;
  padding-left:8px;
  padding-right:8px;
  font-weight:bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-size:16px;
  margin-top:4px;
  text-transform:uppercase;
  cursor:pointer;
}

.him-more-views h2 {
  color:#842a12;
  text-transform:uppercase;
  font-size:12px;
  font-weight:bold;
  padding-bottom:4px;
  border-bottom:1px solid #dbdbdb;
}
.him-more-views ul {
  list-style:none;
  margin:0px;
  padding:0px;
}
.him-more-views ul li {

}
.him-more-views ul li a {
  border:2px solid #dbdbdb;
  display:block;
  float:left;
  margin-right:3px;
  margin-left:3px;
}
.him-more-views ul li a:hover {
  border:2px solid #f7a716;
}
.him-more-views ul li a img {
  width:57px; height:57px;
}


.him-full-box-top-left {
  background: url(../images/full-box_01.jpg) no-repeat top left;
  height:7px;
}
.him-full-box-top-right {
  background: url(../images/full-box_02.jpg) no-repeat top right;
  height:7px;
}
.him-full-box-mid-left {
  background: url(../images/full-box_03.jpg) repeat-y bottom left;
}
.him-full-box-mid-right {
  background: url(../images/full-box_04.jpg) repeat-y bottom right;
}
.him-full-box-btm-left {
  background: url(../images/full-box_05.jpg) no-repeat top left;
  height:8px;
}
.him-full-box-btm-right {
  background: url(../images/full-box_06.jpg) no-repeat top right;
  height:8px;
}
.him-full-box-mid-left .pad {
  padding-left:12px;
  padding-right:12px;
  padding-top:4px;
  padding-bottom:4px;
}
.him-full-box-mid-left  h2 {
  margin-top:0px;
  padding:0px;
  font-weight:normal;
  color:#933f22;
}

#faq .accTogglerOpen 	{ border:1px solid #e1ddd4; padding-top:6px; padding-left:11px; padding-right:95px; padding-bottom:6px; display: block; margin: 0; cursor: pointer; font-size:14px; color:#933f22; font-weight:bold; line-height:17px; background-color:#f4f1eb; background-image: url(../images/faq-close.gif); background-repeat: no-repeat; background-position: right; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px; }
#faq .accToggler 		{ border:1px solid #e1ddd4; padding-top:6px; padding-left:11px; padding-right:95px; padding-bottom:6px; display: block; margin: 0px 0px 4px 0px; cursor: pointer; font-size:14px; color:#222222; font-weight:normal; line-height:17px; background-color:#f4f1eb; background-image: url(../images/faq-open.gif); background-repeat: no-repeat; background-position: right; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius:4px; }
#faq .accContent 		{ margin: 0px; padding:8px 10px 0px 10px; }
#faq .accContent p 		{ margin: 0px; padding:0px 0px 12px 0px; }


.him-success {
  border:1px solid #4c7324;
  background:#eff5ea;
  padding:10px;
  color:#4c7324;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
.him-cart-table {
  margin-top:15px;
  border:1px solid #e7e0d2;
}
.him-cart-table .last {
  border-right:none;
}

.him-cart-table td {
 padding-left:10px;
 padding-right:10px;
 padding-top:10px;
 padding-bottom:10px;
}

.him-cart-table thead td {
 font-weight:bold;
 background:#7e271a;
 color:#ffffff;
 padding-top:6px;
 padding-bottom:6px;
 border-right:1px solid #e7e0d2;
}
.him-cart-table tbody td {
  border-bottom:1px solid #e7e0d2;
  border-right:1px solid #e7e0d2;
}
.him-cart-table tfoot td {
  padding-top:10px;
  padding-bottom:10px;
}

.him-crosssell {
  margin-top:12px;
  float:left;
  width:267px;
  border:1px solid #e7e0d2;
  padding:15px;
  margin-right:12px;
}
.him-crosssell .item {
  margin-top:5px;
  border-top:1px dotted #dbdbdb;
  padding-top:5px;
}

.him-crosssell .item .image {
  float:left;
  margin-right:10px;
  margin-bottom:10px;
}
.him-crosssell .item .desc {
  float:left;
  width:150px;
}
.him-crosssell .item .desc .price {
  font-weight:bold;
  margin-bottom:5px;
}

.him-discount {
  margin-top:12px;
  float:left;
  width:267px;
  border:1px solid #e7e0d2;
  padding:15px;
  margin-right:12px;
}
.him-totals {
  margin-top:12px;
  float:left;
  width:270px;
  border:1px solid #e7e0d2;
  padding:15px;
  text-align:right;
  line-height:24px;
}
.him-totals .total {
  font-size:18px;
}

.form-list input, .form-list select, .form-list textarea {
  border:1px solid #dbdbdb;
  padding:3px;
}

.form-list { list-style:none; margin:0px; padding:0px;}
.form-list li { margin:0 0 8px; }
.form-list label { float:left; color:#666; font-weight:bold; position:relative; z-index:0; margin-bottom:4px; }
.form-list label.required {}
.form-list label.required em { float:right; font-style:normal; color:#eb340a; position:absolute; top:0; right:-8px; }
.form-list li.control label { float:none; }
.form-list li.control input.radio,
.form-list li.control input.checkbox { margin-right:6px; }
.form-list li.control .input-box { clear:none; display:inline; width:auto; }

.form-list .input-box { display:block; clear:both; width:260px; }
.form-list .field { float:left; width:330px; margin-bottom:8px; }
.form-list input.input-text { width:310px; }
.form-list textarea { width:310px; height:10em; }
.form-list select { width:310px; }
.form-list li.wide .input-box { width:100%; }
.form-list li.wide input.input-text { width:650px; }
.form-list li.wide textarea { width:650px; }
.form-list li.wide select { width:635px; }
.form-list li.additional-row { border-top:1px solid #ccc; margin-top:10px; padding-top:7px; }
.form-list li.additional-row .btn-remove { float:right; margin:5px 0 0; }
.form-list .input-range input.input-text { width:74px; }

.buttons-set {
  text-align:right;
}

.him-boxed {
    background:#f5f1ed;
    border:1px solid #d2cdc2;
    padding:15px;
    padding-top:8px;
    padding-bottom:8px;
    border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius:10px;
    margin-bottom:10px;
}
.him-boxed-top {
    background:#f5f1ed;
    border-top:1px solid #d2cdc2;
    border-left:1px solid #d2cdc2;
    border-right:1px solid #d2cdc2;
    padding:15px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-topright: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.him-boxed-btm {
    background:#f8f6f3;
    border-top:1px solid #d2cdc2;
    border-bottom:1px solid #d2cdc2;
    border-left:1px solid #d2cdc2;
    border-right:1px solid #d2cdc2;
    padding:15px;
-webkit-border-bottom-left-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-bottomright: 10px;
-moz-border-radius-bottomleft: 10px;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
    margin-bottom:10px;

}

.him-boxed ul {
  margin-left:0px;
  padding-left:20px;
}
.him-boxed h2 {
    font-size:15px;
  font-weight:bold;
}


.him-loginfixheight {
  height:220px;
}
.him-half {
  width:46%;
}
.him-boxed h2, .him-boxed-top h2 {
  border-bottom:1px solid #d2cdc2;
  padding-bottom:10px;
  margin-bottom:10px;
}
.him-boxed td {
  vertical-align:top;
}
.him-boxed .head-cell {
  border-bottom:1px dotted #d2cdc2;
}
.him-boxed .body-cell {
  padding-top:10px;
  padding-bottom:10px;
}
.closed h2 {
  border:none;
  padding-bottom:0px;
  margin-bottom:px;
}
.checkout-process li {
  border-bottom:1px dotted #dbdbdb;
  padding-bottom:8px;
  margin-bottom:4px;
  margin-top:4px;
}

dl.him-customer-service {
  margin:0px; padding:0px;
}
dl.him-customer-service dt {
  margin:0px;
  padding:0px;
  font-size:14px;
  font-weight:bold;
  margin-bottom:8px;
  margin-top:10px;
}
dl.him-customer-service dd {
  padding:0px;
  margin:0px;
}
ul.disc {
  margin:0px;
  padding:0px;
}
ul.disc li {
  display:inline-block;
  width:200px;
  float:left;
}

.him-det-video {
  float:right;
  padding-left:10px;
  padding-bottom:10px;
  width:340px;
  height:240px;
  background:#ffffff;
}
.him-review {
  border-top:1px solid #dbdbdb;
  padding-top:8px;
}
.him-odd td {
  border-top:1px solid #dbdbdb;
  padding-top:8px;
  padding-bottom:8px;
}
.him-even td {
  border-top:1px solid #dbdbdb;
  padding-top:8px;
  padding-bottom:8px;
}
.him-compare h2 {
  border:0px;
  margin-bottom:0px;
  margin-top:0px;
  font-size:15px;
  font-weight:bold;
}

.him-pop-compare {
  padding:15px; margin:0px;
  line-height:19px;
}
.separator {
  border-top:1px solid #dbdbdb;
  margin-top:8px;
  padding-top:8px;
}
.him-pop-compare .def-cell {
  background:#7e271a;
  font-weight:bold;
  font-size:14px;
  color:#ffffff;
}
.him-pop-compare td {
  padding:15px;
  background:#ffffff;
}
.him-pop-compare .encase {
  background:#d2cdc2;
  padding:0px;
}
a.sm2_link:hover{
 text-decoration:none;
}
textarea {
  font-family:Arial;
}
#toggler {
  cursor:pointer;
}




.mb0 {
  margin-bottom:0px;
}
.mt0 {
  margin-top:0px;
}

h3.trigger {
	padding: 0 0 0 30px;
	margin: 0px;
    margin-bottom:8px;
	background: #ffffff url(../images/sidemenu-op-background.gif) no-repeat;
	height: 31px;
	line-height: 31px;
	width: 209px;
	font-size: 14px;
	font-weight: normal;
	float: left;
    cursor:pointer;
}
h3.trigger a {
	color: #fff;
	text-decoration: none;
	display: block;
}
h3.active {
    background: #ffffff url(../images/sidemenu-cl-background.gif) no-repeat;
   	height: 31px;
	width: 209px;
    cursor:pointer;
}
.toggle_container {
    display:none;
	margin: 0px;
	padding: 0;
	overflow: hidden;
	font-size: 12px;
	width: auto;
	clear: both;
}
.toggle_container .block {
	padding: 0px; /*--Padding of Container--*/
}
.tgactive {
  display:block;
}


.landing-box {
  background:#f1ede6;
  padding:15px;

}


.him-rec {
  float:left;
  margin-top:10px;
}

.him-rec .image {
  width:70px;
  float:left;
  position:relative;
}
.him-rec .image img {
  width:55px;
  height:55px;
}

.him-rec .desc {
  width:90px;
  float:left;
  padding-right:10px;
}
.him-rec .reccheck {
  top:50px;
  left:0px;
  position:absolute;
  z-index:22;
}

ul.him-nolinks a {
  text-decoration:none !important;
}
ul.him-nolinks a:hover {
  text-decoration:none !important;
  color:#444444 !important;
}
ul.him-nolinks .active a:hover {
  color:#f99c19 !important;
}
.him-quotename {
  text-align:right;
  padding-right:20px;
  font-weight:bold;
  margin-bottom:10px;
}


.blog-side-list ul {
  margin:0px;
  padding:0px;
  list-style:none;
  margin-bottom:10px;
}
.blog-side-list ul li {
  padding:0px;
  margin:0px;
  padding-left:0px;
  margin-bottom:2px;
}

.blog-single h2 {
  padding-top:5px;
  line-height:22px;
  font-weight:bold;
  font-size:20px;
  line-height:24px;
}

.blog-post h2 {
  font-size:18px;
  line-height:22px;
}
.blog-post h2 a {
  text-decoration:none;
  color:#782117;
}
.blog-post h2 a:hover {
  text-decoration:none;
  color:#e18500;
}
.byauthor {
    border-top:1px solid #dbdbdb;
	padding:10px 0px 10px 0px;
    font-size:11px;
}
.storycontent {
	padding:0px 0px 8px 0px;
    border-top:1px solid #dbdbdb;
}
#commentlist ol { list-style:none !important; margin-left:0px !important; padding-left:0px !important; }
#commentlist ol li { list-style:none !important; margin-left:0px !important; padding-left:0px !important; }
.comment { list-style:none !important; border:1px solid #dfdfdf; margin-left:0px !important; margin-bottom:5px; padding:10px 12px 7px 12px; background-color:#f7f7f7; }
.thread-odd { list-style:none !important; border:1px solid #dfdfdf; margin-left:0px !important; margin-bottom:5px; padding:10px 12px 7px 12px; background-color:#ffffff !important; }
.comment p { margin:0px; padding:0px 0px 5px 0px; }
.comment p cite { font-size:11px }
.comment .avatar { float:left; padding-right:20px; padding-bottom:10px; }

#commentform textarea {
  background:#f1f1f1;
  border:1px solid #dbdbdb;
  font-family:Arial;
}

.archive-heading {
  font-size:22px;
  border-bottom:1px solid #dbdbdb;
  margin-bottom:10px;
  padding-bottom:10px;
  padding-top:6px;
}
.archive-post {
  border-bottom:1px solid #dbdbdb;
  margin-bottom:10px;
  padding-bottom:10px;
}
