<?php
$featured = <<<EOT
<div class="box">


                                        <div id="him-featured" class="jcarousel-container">
                                          <div class="jcarousel-clip">
                                            <ul class="jcarousel-list ">
                                              <!-- Add the first visible range of items statically for displaying with javascript disabled -->

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb1.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb2.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb3.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb1.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb2.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb3.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                              <li>
                                                <div class="carousel-product">
                                                    <div class="product-image"><a href="#"><img src="{$this->getSkinUrl("images/small-thumb2.jpg")}" width="125" height="125" alt="" /></a></div>
                                                    Item#: sm01009<br/>
                                                    Size: 4.25"<br/>
                                                    Age: 18-19th century<br/>
                                                    Price: <b>$148.00</b><br/>
                                                    Your Price: <b class="red">$88.80</b><br/>
                                                    <div class="button"><a href="#"><img src="{$this->getSkinUrl("images/button-add-to-cart.png")}" width="108" height="22" alt="" /></a></div>
                                                </div>
                                              </li>

                                            </ul>
                                          </div>
                                        </div>


                        </div>
EOT;
echo $featured;