/*Demo Styles*/
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, strong, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, input, button, select, textarea, table, thead, tbody, tfoot, tr, th, td { border: 0; font-family: inherit; font-size: 100%; margin: 0; outline: 0; padding: 0; }
img { vertical-align: top; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; width: 100%; }
a:link, a:visited { color: #F69C1A; text-decoration: none; }
a:hover { color: #F69C1A; }
/* clearfix */
.clearfix:after { clear: both; content: "."; display: block; height: 0; line-height: 0; visibility: hidden; }
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }
/* clearfix .end*/
body{ background: url("../images/main-background.jpg") repeat-x scroll center top #600610;font-family: Arial;font-size: 12px;line-height: 18px; padding-top: 30px; }
select{padding: 1px;}
select option {padding-right: 10px;}
/*font*/
@font-face {
        font-family: 'HPAvoRegular';
        src: url('../fonts/havon-webfont.eot');
        src: url('../fonts/havon-webfont.eot?#iefix') format('embedded-opentype'),
                url('../fonts/havon-webfont.woff') format('woff'),
                url('../fonts/havon-webfont.ttf') format('truetype'),
                url('../fonts/havon-webfont.svg#HPAvoRegular') format('svg');
        font-weight: normal;
        font-style: normal;

}
/* Headings */
h1,h2,h3,
h4,h5,h6      { margin:0 0 5px; line-height:1.35; color:#3c3c3c; }
h1            { font-size:18px; font-weight:normal; }
h2            { font-size:16px; font-weight:normal; }
h3            { font-size:14px; font-weight:normal; }
h4            { font-size:14px; font-weight:bold; }


/*contain*/
.him-contain{margin:0 auto;width: 1000px;}
.him-white{background: none repeat scroll 0 0 #FFFFFF;color:#484848;padding: 25px 30px 5px 30px;}

/* header */
.him-logo{float: left;padding-bottom: 10px;width: 300px;}
.him-top-menu{float: right;padding-bottom: 18px;width: 630px;font-size:12px}
.him-top-menu a{color:#444444;}
.him-top-menu a:hover{color:#f69c1a;}
.him-top-menu a span{color:#6f1610}
.him-top-menu a:hover span{color:#f69c1a;}
.him-top-menu ul{float: right;}
.him-top-menu ul li{border-right: 1px solid #F9B510;display: block;float: left; font-size: 14px;margin-left: 7px;padding-right: 7px;}
.him-top-menu a{color: #444444;}
.him-sect {float:right;}
.him-reg {padding-top:18px;padding-right:20px;}
.him-reg select{background:#fafafa;border:1px solid #dbdbdb;}
.him-cart{background:url(../images/cart-off-background.jpg) no-repeat;height: 26px;min-width:130px; text-align:left;padding:10px 2px 0 83px;margin-top:20px;}
.him-cart-de {background:url(../images/cart-off-background_DE.gif) no-repeat;min-width:250px;}
.him-cart a {color:#444444;}
.him-cart a:hover{color:#444444; text-decoration:underline;}

.him-discount input#coupon_code {
        padding: 5px;
        width: 156px;
        border: 1px solid #EBEBEB;
        background-color: whiteSmoke;
}

.him-top-menu .last {border:none;padding-right:0px;}
.him-announce{background:url(../images/top-announcement-bar-backgr.png) no-repeat;height:30px;width:939px;padding-top:14px;overflow:hidden;color:#ffffff;font-size:15px;text-align:center;margin-bottom:12px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:14px}
/* hewader .end*/
.him-white-shadow {background:url(../images/bg-contain-bottom.png) no-repeat top center;width:1000px;height:32px;margin:0 auto}
/*footer*/
.him-footer {color:#ffffff;padding-top:20px;width:1000px;margin:0 auto; background:#FFF}
.him-footer .footer { overflow:hidden; margin:0 30px; border-top:1px solid #e8e8e8; padding-top:23px;}
.him-footer .separator{border-top:1px solid #70242a;padding-top:10px;margin-top:0px;}
.him-footer h2 {margin:0 0 10px;line-height:19px;color:#ffffff;font-weight:normal;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-size:16px}
.him-footer .panel p{padding-bottom:15px;color:#000; }
.him-footer .panel .contact { overflow:hidden; background:url(../images/bg-contact-bcr.png) no-repeat 0px 56px; padding-bottom: 26px;}
.him-footer .panel .contact p {width:119px; float:left;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
.him-footer .panel .contact button { width:93px; height:33px; background:url(../images/bg-contact.png) no-repeat center; float:right}
.him-footer .panel .contact button span span { text-indent:-1988px;width:93px; height:33px; display:block}
.him-footer .panel-last .home-social-share h3 {display: none}
.him-footer .panel .home-new-letter {width: 240px}
.him-footer .panel .home-new-letter p { padding-left:30px; background:url(../images/img-email.png) no-repeat left center; padding-bottom:0px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; margin-bottom: 10px}
.him-footer .panel .home-new-letter form {  padding-top:10px;}
.him-footer .panel .home-new-letter form .input { padding:6px 8px; border:1px solid #eaeaea; margin-right:6px;}
.him-footer .panel .home-new-letter form .input input {color: #969696;font-size: 11px;font-style: italic; width: 100%;}
.him-footer .panel .home-new-letter form .submit input { background:url(../images/img-go.png) no-repeat center;cursor: pointer; height: 33px;text-indent: -1999px; width: 32px; width:53px;}
.him-footer .panel{background:url(../images/bg-line-2.png) no-repeat right top;min-height:150px;padding:0 28px 0px ;float:left;margin-bottom:20px}
.him-footer .panel-first{background:url(../images/bg-line-2.png) no-repeat right top;min-height:150px;padding:0 34px 0px 0px;float:left;margin-bottom:20px}
.him-footer .panel-last {width:222px;min-height:150px;padding:0 0 0px 24px;float:left;margin-bottom:20px;}
.him-footer .panel-last fieldset{margin-bottom:8px}
.him-footer .panel-last .input{padding-top:4px}
.him-footer .panel-last .submit{padding:4px 0 0 6px;}
.him-footer .panel-last .input input{background-color:#73000d;border:1px solid #970010;color:#b27077;padding:6px 0 6px 13px;}
.him-footer .panel-last .submit input{background:url(../images/bg-go-bottom.png) no-repeat left top;width:44px;height:31px;cursor: pointer;text-indent:-1983px;overflow:hidden;}
.him-footer .panel-last .submit input:hover{background-position:left -31px}

.him-footer ul {list-style:none;margin:0px;padding:0px;}
.him-footer ul li {background:url(../images/ico-arrow-8.png) no-repeat left 7px;margin-bottom:4px;padding-left:13px}
.him-footer a {color:#606060;text-decoration:none;}
.him-footer a:hover {color:#606060;text-decoration:underline;}
.him-footer .social {font-size:10px;padding-bottom:8px;}
.him-footer .social td {width:90px;text-align:center;}

.him-footer .copy { border-top: 1px solid #e8e8e8;padding:10px 0px 0px 0;text-align:center;clear:both;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
.him-footer .copy .fl { float:left; color:#6E6E6E; font-size:11px;}
.him-footer .copy .home-customer-links {color: #6E6E6E; float: right;}
.him-footer .copy .home-customer-links ul li {background: none repeat scroll 0 0 transparent; border-right: 1px solid #6E6E6E; float: left; padding: 0 5px ; font-size:11px;}
.him-footer .copy .home-customer-links ul li.remu {border:none;}
/* footer .end*/
/* menu */
.him-menu{background:url(../images/top-announcement-bar-backgr.png) no-repeat;height:44px;width:941px;clear:both;color:#ffffff;margin-bottom:12px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;}

/********** < Navigation */
#nav { width:960px; margin:0 auto; padding:0 0 5px 0; font-size:15px;}

/* All Levels */ /* Style consistent throughout all nav levels */

#nav li {background:url(../images/bg-menu-line.png) right 6px no-repeat;position:relative; text-align:left; list-style: none;float:left;z-index:100;width:231px}
#nav li.about-us{width: 130px}

#nav span {cursor:pointer; white-space:nowrap; }
#nav li.parent a.level-top {display:block;padding:13px 16px;z-index:1999}
#nav li.first-none a{display:block;padding:13px 16px;}
#nav li.parent a.level-top span{display:block;background:url(../images/ico-arrow-3.png) right 6px no-repeat;padding-right:12px;text-align: center}
#nav li.first-none:hover a,#nav li.first-none a:hover{color:#F5971D}
#nav li.parent:hover a.level-top,#nav li.parent a.level-top:hover{background-color:#a2220f;border:1px solid #731405;border-bottom:none;padding:12px 15px 13px 15px;position:relative;}

/* 0 Level */
#nav li.active a { color:#ffffff; }
#nav a {color:#ffffff;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
/*#nav li.parent.over  a.level-top,#nav li.parent  a.level-top:hover{background:url(../images/bg-top-dropmenu.jpg) left top repeat-x;z-index:999;}*/
#nav li.parent:hover a{color:#ffffff}
#nav li.parent.over a{ color:#ffffff; }

/* 1st Level */
/* #nav ul li,
#nav ul li.active { float:none; margin:0; padding-bottom:1px; background:#ecf3f6 url(../images/bkg_nav1.gif) 0 100% repeat-x;}
#nav ul li.last { background:#ecf3f6; padding-bottom:0; } */

#nav ul a,#nav ul a:hover { float:none; padding:0; background:none; }
#nav ul li a { font-weight:normal !important; }

/* 2nd Level */
#nav ul,#nav div {display:none; position:absolute;top:43px;background-color:#7f0405;overflow:hidden;min-width:250px;left:0;}
#nav div ul { position:static; width:auto; border:none; }
#nav li.parent:hover ul{display:block}

/* 3rd+ Level */

#nav ul{background-color:#a2220f;padding:5px 9px 10px;z-index:1900;border:1px solid #731405;}
#nav ul li{background:url(../images/ico-arrow-7.png) 10px 11px no-repeat;padding: 5px 0 5px 20px; width: 92%;border:none}
#nav ul li:hover{background-color:#c62e17;}
#nav ul li a{font-size:13px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
#nav ul li a:hover,#nav ul li a:hover span,#nav ul li a span:hover{color:#ffffff}

#nav ul li:hover a span,#nav ul li a:hover span{color:#fff}
#nav ul span{color:#ffffff;font-size:12px}


/* Show menu */

#nav li ul.shown-sub,#nav li div.shown-sub { left:0; z-index:1900; }
#nav li .shown-sub ul.shown-sub,#nav li .shown-sub li div.shown-sub { left:0; }

/********** Navigation > */

/* content */
#content{xbackground:#fff url(../images/bg-content.jpg) no-repeat left top;width:941px;min-height:285px;padding:16px 0 20px;overflow: hidden;}
.block-buy .caption .boxcaption h3{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;}
.block-buy p.sale-off img {
        border: medium none;
        height: 82px;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 80px;
        z-index: 99;
}

.block-buy p.sale-off span.discount {
        color: #FFFFFF;
        font-size: 25px;
        font-weight: bolder;
        position: absolute;
        right: 14px;
        text-shadow: 1px 1px 2px #424242;
        top: 13px;
        z-index: 99;
}

.block-buy p.sale-off span.sf {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bolder;
        position: absolute;
        right: 28px;
        text-shadow: 1px 1px 2px #424242;
        top: 41px;
        z-index: 99;
}
.block-sale{margin:0;width:239px;float:right}


 .promotion{ background-color:#f6f2ef; padding:14px 12px 14px 17px;margin-top: 11px; margin-bottom:11px;border: 1px solid #D2CDC2;border-radius: 10px 10px 10px 10px;}
 .promotion p{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px; padding-right:93px; background:url(../images/bg-promotion.png) no-repeat center right; color:#000;}
 .promotion p span{color:#83220e}

.sale{background-color:#f6f2ef; padding:14px 12px 14px 17px;margin-bottom:11px;border: 1px solid #D2CDC2;border-radius: 10px 10px 10px 10px;}
.sale .wb-sale { background:url(../images/wb-sale1.png) no-repeat right 9px; padding-right:62px;  text-align:left}
.sale .wb-sale h2{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px;color:#83220E; margin-bottom:2px;}
.sale .wb-sale p { margin-bottom:10px; font-size:11px;line-height: 1.3;}



.block-sale .bank-card{overflow:hidden;padding-top:10px}
.block-sale .bank-card a{float:left;text-indent:-1983px;overflow:hidden;padding-right:5px}
.bank-card .b-bank a{background:url(../images/ico-bbb.jpg) no-repeat left top; width:51px; height:83px;}
.bank-card .paypal a{background:url(../images/ico-paypal.jpg) no-repeat left top; width:84px; height:84px;}
.bank-card .authorize{position:relative}
.bank-card .authorize a img{position:absolute;top:0;right:0;}
.bank-card div span{font-size:10px;color:#181818}
.bank-card .authorize a#AuthorizeNetText{display:none}
/* content .end*/

/*one-half*/
.one-half{overflow:hidden;padding-top:20px;border-top:1px solid #dcdcdc}
.one-half h2{color:#a92c00;font-size:16px;font-weight:normal;margin-bottom:15px;text-transform:capitalize;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
.boxmore{float:left;width:220px;padding-right:30px}
.him-carousel,.him-video-infor{padding:0}
.him-dowload-ebook{position:relative;}
.him-dowload-ebook a.book{display:block;background:url(../images/bg-img-book.jpg) no-repeat left top;width:174px;height:273px;padding:8px 9px}
.him-dowload-ebook a.submit-download{display:block;background:url(../images/ico-arrow-5.png) no-repeat left top;width:186px;height:42px;padding:9px 13px; position:absolute;left:-7px;bottom:20px;color:#fff;font-size:11px}
.him-dowload-ebook a.submit-download:hover{background-position:left -60px}
.him-dowload-ebook a.submit-download span{display:block;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-weight:bolder;font-size:13px;text-align:center}
.him-infor p,.him-video-infor p{margin:8px 0}
.one-half p.more-infor{overflow:hidden}
.one-half p.more-infor a{background:url(../images/ico-arrow-2.png) no-repeat right 4px; float:left;padding-right:15px;font-style:italic;}

#popup-download{display:none;}
#submitsendmail{padding:45px 50px 45px 39px;overflow:hidden;width:329px;background-color:#e7e4ed}
#submitsendmail h2{color:#000;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-weight:normal;font-size:14px;}
#submitsendmail div.input input{padding:7px 5px;border:1px solid #bcbcbc;width:310px}
#submitsendmail div.submit{padding-top:20px}
#submitsendmail div.submit input{background:url(../images/bg-download.png) no-repeat left top; width:152px;height:39px;text-indent:-1983px;overflow:hidden;display:block;margin:0 auto;cursor: pointer;}
#submitsendmail div.submit input:hover{background-position:left -39px}

/*chil-page*/
a.add-compare{display:block;background:url(../images/ico-add.png) no-repeat left 5px;height:15px;padding:5px 0 5px 30px;color:#444444;font-weight:bolder}
a.add-compare:hover{text-decoration:underline}
a.btn-card{background:url(../images/bg-bt-catd.png) no-repeat;overflow: hidden;display:block;width:110px;height:14px;font-size:13px;font-weight:bolder;color:#fff;text-shadow:-1px -1px 2px #424242;text-transform:uppercase;padding:11px 0 11px 35px}
a.btn-card:hover{background-position:left -36px}
a.btn-card-small{background:url(../images/bg-bt-catd-small.png) no-repeat;overflow: hidden;display:block;width:93px;height:18px;font-size:12px;font-weight:bolder;color:#fff;text-shadow:-1px -1px 2px #424242;text-transform:uppercase;padding:6px 0 6px 35px}
a.btn-card-small:hover{background-position:left -30px}
a.listen{display:block;background:url(../images/bg-listen.jpg) no-repeat;height:18px;width:53px;font-size:14px;font-weight:normal;color:#fff;text-shadow:-1px -1px 2px #424242;padding:6px 0 6px 40px}
a.listen:hover{background-position:left -30px}
a.listen-small{display:block;background:url(../images/bg-listen-small.png) no-repeat;height:18px;width:46px;font-size:12px;font-weight:bolder;color:#fff;text-shadow:-1px -1px 2px #424242;padding:6px 0 6px 40px}
a.listen-small:hover{background-position:left -30px}
a.listen-small-list{display:block;background:url(../images/bg-listen-small-list.png) no-repeat;height:18px;width:68px;font-size:12px;font-weight:bolder;color:#fff;text-shadow:-1px -1px 2px #424242;padding:6px 0 6px 60px}
a.listen-small-list:hover{background-position:left -30px}
/*detail*/
.him-sidebar {width:212px;float:left;}
.him-maincol {width:704px;float:right;}
.him-boxed-top h2 {border-bottom:1px solid #d2cdc2; padding-bottom:10px;margin-bottom:10px;}
.him-compare h2 {border:0px;margin-bottom:0px;margin-top:0px; font-size:15px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;color:#933f22;}
.more-detail h2,.block-content h2{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-size:18px;color:#be3701;}
.him-boxed-top {background:#f5f1ed;border-top:1px solid #d2cdc2;border-left:1px solid #d2cdc2;border-right:1px solid #d2cdc2;padding:15px; -moz-border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; border-radius: 10px 10px 0 0;}
.him-boxed-btm {background:#f8f6f3;border-top:1px solid #d2cdc2;border-bottom:1px solid #d2cdc2;border-left:1px solid #d2cdc2;border-right:1px solid #d2cdc2; padding:15px;  -moz-border-radius: 0 0 10px 10px; -webkit-border-radius:0 0 10px  10px; border-radius:0 0 10px  10px;margin-bottom:10px;*margin-top:-10px}
.him-sidebar .bank-card{border:1px solid #d2cdc2;-moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px;padding:10px 0;text-align:center}
.him-sidebar .bank-card div{margin: 8px auto;}
.him-sidebar .bank-card div.b-bank{height: 98px;width: 60px;}
.him-sidebar .bank-card .paypal{height: 84px;width: 84px;}
.him-sidebar .bank-card .paypal a{text-indent: -1983px;overflow: hidden;display: block}
.him-sidebar .bank-card .authorize{min-height: 80px}
.him-sidebar .bank-card .authorize img{position:absolute;top: 10px;left: 60px}
.him-breadcrumbs ul {list-style:none;margin:0px;padding:0px;overflow:hidden}
.him-breadcrumbs ul li {float:left;display:block;padding-right:8px;font-size:13px;}
.him-breadcrumbs ul li a{color:#e2871e}
.him-breadcrumbs ul li a:hover{color:#780d0c}
.him-breadcrumbs ul li span{padding: 0 10px;color:#e2871e}
.him-breadcrumbs ul li strong{color:#707070;font-weight:normal;}
.block-content p.st{color:#868686}

/*.block-content ol.mini-products-list li{padding:8px 0 8px 21px;width:120px;font-size:12px;display:-moz-inline-stack; display:inline-block;vertical-align:top; zoom:1;*display:inline; text-align:center}
.block-content ol.mini-products-list li.first-child{padding:8px 0}
.block-content ol.mini-products-list li a img{width:114px;height:115px;border:3px solid #fff;}
.block-content ol.mini-products-list li a:hover img,.block-content ol.mini-products-list li a img:hover{border:3px solid #be3701;}
.block-content ol.mini-products-list li a span.product-name{padding:8px 0 6px;display:block;}
.block-content ol.mini-products-list li a:hover span.product-name,.block-content ol.mini-products-list li a span.product-name:hover{color:#be3701;}
.block-content ol.mini-products-list li .product-details .price-box label{color:#be3701;font-weight:bolder;font-size:14px}*/

.block-content .him-rec{padding:8px 0 8px 21px;width:120px;font-size:12px;display:-moz-inline-stack; display:inline-block !important;vertical-align:top; zoom:1;*display:inline; text-align:center}
.block-content .him-rec.first{padding:8px 0}
.block-content .him-rec .image a img{width:114px;height:115px;border:3px solid #fff;}
.block-content .him-rec .image a:hover img,.block-content .him-rec .image a img:hover{border:3px solid #be3701;}
.block-content .him-rec .desc{padding:5px 0}
.block-content .him-rec .desc a:hover{color:#be3701;}
.block-content .him-rec .desc div {padding:5px 0 5px 25px;overflow:hidden}
.block-content .him-rec .desc div input{margin-top:3px}
.block-content .him-rec .desc div .price{color:#be3701;font-weight:bolder;font-size:14px}

.product-detail{overflow:hidden;padding:20px 0}
.product-img-box{float: left;width: 361px;vertical-align:top;padding-right:20px;position:relative;}
.product-img-box .sale-off img{position:absolute;top:-15px;right:9px;z-index:99}
.product-img-box .sale-off span.discount{text-shadow: 1px 1px 2px #424242;position:absolute;top:19px;right:29px;z-index:99;color:#fff;font-size:32px;font-weight:bolder}
.product-img-box .sale-off span.sf{text-shadow: 1px 1px 2px #424242;position:absolute;top:50px;right:47px;z-index:99;color:#fff;font-size:20px;font-weight:bolder}
/*.product-img-box img{width:359px;height:323px;border: 1px solid #dfdfdf;}*/
.product-infor-box{float:right;width:312px;}
.product-infor-box h3 {font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-size:18px;color:#be3701;}
.product-infor-box ul.more-infor{padding:3px 0 6px;}
.product-infor-box ul.more-infor li{color:#313131;font-size:13px;padding:1px 0}
.product-infor-box .short-description{border-top:1px solid #d2d2d2;padding:7px 0}
.product-infor-box .short-description p{margin-bottom:3px}
.product-infor-box .sound{overflow:hidden;}
.product-infor-box .sound a.add-compare{float:left}
.product-infor-box .sound .listen{float:right}
.add-to-card{background:url(../images/bg-add-to-card.jpg) no-repeat;overflow: hidden;float:right;width:298px;height:64px;padding:15px 6px 20px 8px;}
.add-to-card .price-infor{float:left;}
.add-to-card .price-infor .price{color:#be3701;font-size:26px;font-weight:bolder;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;margin:9px 0 5px}
.add-to-card .price-infor p.old-price{color:#878787;font-weight:bolder;font-size:878787; font-size:18px; text-decoration: line-through;}
.add-to-card .price-infor .availability{color:#515151;}
.add-to-card .bt-card{float:right;vertical-align:top;padding-top:15px}
.send-mail-friend{float:right;padding: 5px 0; clear: both;}
.send-mail-friend a{background:url(../images/ico-email.jpg) no-repeat left 4px;color:#444444;font-size:13px;padding:3px 0 3px 25px;}
.send-mail-friend a:hover{text-decoration:underline}
/*category*/
.category-products{border-bottom: 1px solid #DBDBDB;}
.category-title{margin:7px 0}
.category-title h2{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-size:22px;color:#87250e}
.him-pagination{border-top: 1px solid #DBDBDB;font-size: 11px;margin-top: 5px; padding: 8px 0;font-size: 11px;}
.him-pagination .item-left {float: left;padding-right: 20px;}
.him-pagination .item-right{float: right;}
.him-pagination input, .him-pagination select {border: 1px solid #DBDBDB;color: #444444;font-size: 11px;padding: 2px;}
.him-pagination .v-middle { vertical-align: middle;}

/* product Gird-list*/
.product-image { display:block; width:226px; height:147px; margin:0 0 10px; }
.product-image img{width:227px; height:147px;border:3px solid #fff}
.product-image img:hover{border:3px solid #be3701}
.price-box{overflow:hidden}
.price-box span{float:left;padding-right:6px}
.price-box span.discount-s{font-size:12px;font-weight:bolder;color:#7b7b7b;text-decoration:line-through}
.price-box span.price{font-size:13px;font-weight:bolder;color:#87250e;}
.sale-off-cate{background:url(../images/bg-sale-off-cate.png) no-repeat;width:78px;height:18px;padding: 6px 0
                       5px;text-align:center;color:#fff;font-size:15px;}
/* View Type: Grid */
.products-grid {overflow:hidden;padding:20px 0;border-top:1px solid #DBDBDB}
.products-grid li.item { display:-moz-inline-stack; display:inline-block;vertical-align:top;zoom:1;*display:inline; width:230px;padding-right:0px;position:relative;margin: 0 1px}
.products-grid li.item .sale-off-cate{position:absolute;right:0px;top:121px}
.products-grid li.item.last .sale-off-cate{right:0px}
.products-grid li.item button.button{height:25px}
.products-grid li.item button.button span{background:#393939 url(../images/ico-add-to-cart.png) 0 0 no-repeat }
.products-grid li.item button:hover.button span{background-position:0 -25px}
.products-grid li.item button.button span span{background:none}
.products-grid li.last {padding-right:0px}
.products-grid .product-name{margin:0 0 4px;}
.products-grid .product-name a{color:#e2871e;font-size:12px;font-weight:bolder;text-decoration:underline}
.products-grid .product-name a:hover{color:#922307}
.products-grid .product-name span {display:block;font-size:12px;line-height:17px}
.products-grid .availability { line-height:21px; }
.product-sku,.product-age{color:#424242;margin-bottom:4px;font-size:11px}
.products-grid .actions .add-to-links {overflow:hidden;padding:3px 0}
.products-grid .actions .add-to-links li.listen-small{float:left;margin-right:6px}
.products-grid .actions .add-to-links li.card-small{float:left}
.products-list li.item{padding:21px 35px 23px 0;border-top:1px solid #DBDBDB;overflow:hidden;position:relative}
.products-list .product-image {float:left;margin-right:27px}
.products-list .product-shop{padding-top:10px;overflow:hidden}
.products-list .product-shop .sale-off-cate{position:absolute;left:145px;top:142px}
.products-list .product-name{margin:0 0 4px;}
.products-list .product-name a{color:#e2871e;font-size:12px;font-weight:bolder;text-decoration:underline}
.products-list .product-name a:hover{color:#922307}
.products-list .product-name span {display:block;font-size:12px;line-height:17px}
.products-list .price-box{ margin:5px 0;font-size:12px}
.products-list .price-box .old-price{text-align:left}
.products-list .price-box .old-price .price-label{font-size:12px}
.products-list .price-box .old-price .price{font:normal 12px arial}
.products-list .price-box .special-price .price{font:bold 14px arial}
.products-list .price-box .add-compare{margin-top:20px}
.products-list .product-shop .container-right-list{float:right}
.products-list .product-shop .container-right-list ul.add-to-links{padding-top:40px}
.products-list .product-shop .container-right-list ul.add-to-links li{padding-bottom:5px}

/*disble*/
a.btn-card-small.disable{background-position:left -60px}
.products-list li.item.disable .product-shop .sale-off-cate {z-index:100}
.products-list li.item.disable .product-image-disable{position:absolute;left:0;top:20px;z-index:200}
.products-list li.item.disable .product-image-disable img{width:228px;height:155px}
.products-list li.item.disable .product-name span{color: #908f8f;font-size: 12px;font-weight: bolder;text-decoration: underline;}

.products-grid li.item.disable .product-shop .sale-off-cate {z-index:100}
.products-grid li.item.disable .product-image-disable{position:absolute;left:0;top:0;z-index:200}
.products-grid li.item.disable .product-image-disable img{width:228px;height:155px}
.products-grid li.item.disable .product-name span{color: #908f8f;font-size: 12px;font-weight: bolder;text-decoration: underline;}











/*-----------trang- home-----------------*/

/* menu */
.cms-index-index .him-menu{background:url(../images/top-announcement-bar-backgr.png) no-repeat;height:44px;width:941px;clear:both;color:#ffffff;margin-bottom:12px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;}

/********** < Navigation */
.cms-index-index #nav { width:960px; margin:0 auto; padding:0 0 5px 0; font-size:15px;}

/* All Levels */ /* Style consistent throughout all nav levels */

.cms-index-index #nav li {background:url(../images/bg-menu-line.png) right 6px no-repeat;position:relative; text-align:left; list-style: none;float:left;z-index:100}

.cms-index-index #nav span {cursor:pointer; white-space:nowrap; }
.cms-index-index #nav li.parent a.level-top {display:block;padding:13px 16px;z-index:999}
.cms-index-index #nav li.first-none a{display:block;padding:13px 16px;}
.cms-index-index #nav li.parent a.level-top span{display:block;background:url(../images/ico-arrow-3.png) right 6px no-repeat;padding-right:12px;}
.cms-index-index #nav li.first-none:hover a,#nav li.first-none a:hover{color:#F5971D}
.cms-index-index #nav li.parent:hover a.level-top,#nav li.parent a.level-top:hover{background-color:#a2220f;border:1px solid #731405;border-bottom:none;padding:12px 15px 13px 15px;position:relative;}


.cms-index-index #nav li.first:hover a.level-top,#nav li.first a.level-top:hover{background-color:#a2220f;border:1px solid #731405;border-bottom:none;padding:12px 15px 13px 15px;position:relative; -moz-border-radius: 5px 0 0 5px ; -webkit-border-radius:5px 0 0 5px;}



/* 0 Level */
.cms-index-index #nav li.active a { color:#ffffff; }
.cms-index-index #nav a {color:#ffffff;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
/*#nav li.parent.over  a.level-top,#nav li.parent  a.level-top:hover{background:url(../images/bg-top-dropmenu.jpg) left top repeat-x;z-index:999;}*/
.cms-index-index #nav li.parent:hover a{color:#ffffff}
.cms-index-index #nav li.parent.over a{ color:#ffffff; }

/* 1st Level */
/* #nav ul li,
#nav ul li.active { float:none; margin:0; padding-bottom:1px; background:#ecf3f6 url(../images/bkg_nav1.gif) 0 100% repeat-x;}
#nav ul li.last { background:#ecf3f6; padding-bottom:0; } */

.cms-index-index #nav ul a,#nav ul a:hover { float:none; padding:0; background:none; }
.cms-index-index #nav ul li a { font-weight:normal !important; }

/* 2nd Level */
.cms-index-index #nav ul,#nav div {display:none; position:absolute;top:43px;background-color:#7f0405;overflow:hidden;min-width:250px;left:0;}
.cms-index-index #nav div ul { position:static; width:auto; border:none; }
.cms-index-index #nav li.parent:hover ul{display:block}

/* 3rd+ Level */

.cms-index-index #nav ul{background-color:#a2220f;padding:5px 9px 10px;z-index:1000;border:1px solid #731405;}
.cms-index-index #nav ul li{background:url(../images/ico-arrow-7.png) 10px 11px no-repeat;padding: 5px 0 5px 20px; width: 92%;border:none}
.cms-index-index #nav ul li:hover{background-color:#c62e17;}
.cms-index-index #nav ul li a{font-size:13px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
.cms-index-index #nav ul li a:hover,#nav ul li a:hover span,#nav ul li a span:hover{color:#ffffff}

.cms-index-index #nav ul li:hover a span,#nav ul li a:hover span{color:#fff}
.cms-index-index #nav ul span{color:#ffffff;font-size:12px}


/* Show menu */

.cms-index-index #nav li ul.shown-sub,#nav li div.shown-sub { left:0; z-index:1000; }
.cms-index-index #nav li .shown-sub ul.shown-sub,#nav li .shown-sub li div.shown-sub { left:0; }


/*-----------------------------------------content-----------------------------------*/

.cms-index-index #content{xbackground:#fff url(../images/bg-content.jpg) no-repeat left top;width:700px;min-height:285px;padding:10px 0 0px;overflow: hidden; float:left}

.cms-index-index .block-buy .caption .boxcaption h3{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;}
.cms-index-index .block-sale{margin:0;width:239px;float:right}
.cms-index-index .home-social-share { overflow:hidden; margin-bottom:25px; background:url(../images/bg-back.png) no-repeat center bottom; padding-bottom:21px; padding-left:10px; margin-top:23px;}

.cms-index-index .promotion{background:url(../images/bg-back.png) no-repeat center bottom; padding-bottom:2px;height:80px;margin-top: -5px; margin-bottom:22px; padding:0px;border: medium none;}
.cms-index-index .promotion p{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:12px; padding-right:105px; background:url(../images/bg-promotion.png) no-repeat center right; color:#000;}
.cms-index-index .promotion p span{color:#83220e}

.cms-index-index .sale{background:url(../images/bg-back.png) no-repeat center bottom;padding: 0px 0 20px 0; height:auto;border: medium none;}
.cms-index-index .sale .wb-sale { background:url(../images/wb-sale.png) no-repeat right center; padding-right:73px;  text-align:left}
.cms-index-index .sale .wb-sale h2{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:16px;color:#83220E}
.cms-index-index .sale .wb-sale p { margin-bottom:10px;}
.cms-index-index .contact {background: url("../images/bg-back.png") no-repeat scroll center bottom transparent;  margin-top: 30px; overflow: hidden; padding-bottom: 2px;  margin-bottom: 25px;}

.cms-index-index .contact p{ float:left; font-size:14px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; width:115px; margin-bottom:35px;}
.cms-index-index .contact .contact-button { width:89px; height: 30px;   float:right;cursor: pointer;background:url(../images/img-contact.png) no-repeat center;}
.cms-index-index .contact .contact-button span { width:89px; height:30px;text-indent:-1999px; display:block}
.cms-index-index .home-new-letter { margin-bottom:17px;}
.cms-index-index .home-new-letter p { padding-left:31px; background: url(../images/img-email.png) no-repeat left center; margin-bottom:9px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; font-size:14px}
.cms-index-index .home-new-letter #newsletter-validate-detail table {width:100%}
.cms-index-index .home-new-letter #newsletter-validate-detail .input {border:1px solid #eaeaea; padding:8px; width:142px; margin-right:6px;}
.cms-index-index .home-new-letter #newsletter-validate-detail .input input { width:100%; font-style: italic;color:#c5c5c5; font-size:11px; font-weight: bold;}
.cms-index-index .home-new-letter #newsletter-validate-detail .submit input { background:url(../images/img-go.png) no-repeat center ; width:60px; height:33px; text-indent:-1999px;cursor: pointer;}



.bank-card{overflow:hidden;padding-top:18px}
.bank-card a{float:left;text-indent:-1983px;overflow:hidden;padding-right:5px}
.bank-card .b-bank a{background:url(../images/ico-bbb.jpg) no-repeat left top; width:51px; height:83px;}
.bank-card .paypal a{background:url(../images/ico-paypal.jpg) no-repeat left top; width:84px; height:84px;}
.bank-card .authorize{position:relative}
.bank-card .authorize a img{position:absolute;top:0;right:0;}
.bank-card div span{font-size:10px;color:#181818}
.bank-card .authorize a#AuthorizeNetText{display:none}
/* content .end*/

/*one-half*/
.one-half{overflow:hidden;padding-top:20px;border-top:1px solid #dcdcdc}
.one-half h2{color:#a92c00;font-size:16px;font-weight:normal;margin-bottom:15px;text-transform:capitalize;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;}
.boxmore{float:left;width:220px;padding-right:30px}
.him-carousel,.him-video-infor{padding:0}
.him-dowload-ebook{position:relative;}
.him-dowload-ebook a.book{display:block;background:url(../images/bg-img-book.jpg) no-repeat left top;width:174px;height:273px;padding:8px 9px}
.him-dowload-ebook a.submit-download{display:block;background:url(../images/ico-arrow-5.png) no-repeat left top;width:186px;height:42px;padding:9px 13px; position:absolute;left:-7px;bottom:20px;color:#fff;font-size:11px}
.him-dowload-ebook a.submit-download:hover{background-position:left -60px}
.him-dowload-ebook a.submit-download span{display:block;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-weight:bolder;font-size:13px;text-align:center}
.him-infor p,.him-video-infor p{margin:8px 0}
.one-half p.more-infor{overflow:hidden}
.one-half p.more-infor a{background:url(../images/ico-arrow-2.png) no-repeat right 4px; float:left;padding-right:15px;font-style:italic;}

#popup-download{display:none;}
#submitsendmail{padding:45px 50px 45px 39px;overflow:hidden;width:329px;background-color:#e7e4ed}
#submitsendmail h2{color:#000;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-weight:normal;font-size:14px;}
#submitsendmail div.input input{padding:7px 5px;border:1px solid #bcbcbc;width:310px}
#submitsendmail div.submit{padding-top:20px}
#submitsendmail div.submit input{background:url(../images/bg-download.png) no-repeat left top; width:152px;height:39px;text-indent:-1983px;overflow:hidden;display:block;margin:0 auto;cursor: pointer;}
#submitsendmail div.submit input:hover{background-position:left -39px}




/*-------------------------------right-conte-------------*/

.cms-index-index .wd-right-content { width:220px; float:right}

/*-------------------------------footer---------------------------*/
.cms-index-index .him-footer {color:#ffffff;margin:0 auto; background-color:#FFF; padding:0px 20px 0px 20px; width:auto}
.cms-index-index .him-footer .footer { border-top:1px solid #e8e8e8; overflow:hidden; padding-top:10px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; margin:0px;}
.cms-index-index .him-footer .footer .clearfix { float:left; background:none;padding:0px; border:none;}
.cms-index-index .him-footer .footer .clearfix .fl {color:#6e6e6e; font-size:11px;}
.cms-index-index .him-footer .footer .home-customer-links {float:right; color:#6e6e6e}
.cms-index-index .him-footer .footer .home-customer-links ul li { float:left; padding:0 5px; border-right:1px solid #6e6e6e; background:none ; font-size:11px;}
.cms-index-index .him-footer .footer .home-customer-links ul li.remu {border:none}
.cms-index-index .him-footer .footer .home-customer-links ul li a { color:#6e6e6e}
.cms-index-index .him-footer .footer .home-customer-links ul li a:hover {text-decoration:underline}




/*-----------trang- home-end-----------------*/

/*-----------trang------------------*/
/*
.catalog-category-view .block-buy .caption .boxcaption h3{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;}
.catalog-category-view .block-sale{margin:0;width:239px;float:right}
.catalog-category-view .promotion{background:url(../images/bg-back.png) no-repeat center bottom; padding-bottom:2px;height:80px;margin-top: -5px; margin-bottom:29px; padding:0px;}
.catalog-category-view .promotion p{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:13px; padding-right:96px; background:url(../images/bg-promotion.png) no-repeat center right; color:#000;}
.catalog-category-view .promotion p span{color:#83220e}

.catalog-category-view .sale{background:url(../images/bg-back.png) no-repeat center bottom;padding: 0px 0 2px 0; height:auto}
.catalog-category-view .sale .wb-sale { background:url(../images/wb-sale.png) no-repeat right center; padding-right:63px;  text-align:left}
.catalog-category-view .sale .wb-sale h2{font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;font-weight:normal;font-size:16px;color:#83220E}
.catalog-category-view .sale .wb-sale p { margin-bottom:10px;}

.catalog-category-view .contact {background: url("../images/bg-right-social.png") no-repeat scroll center bottom transparent;  margin-top: 30px; overflow: hidden; padding-bottom: 9px;  margin-bottom: 25px;}
.catalog-category-view .contact p{ float:left; font-size:14px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; width:115px; margin-bottom:35px;}
.catalog-category-view .contact .contact-button { width:89px; height: 30px;   float:right;cursor: pointer;background:url(../images/img-contact.png) no-repeat center;}
.catalog-category-view .contact .contact-button span { width:89px; height:30px;text-indent:-1999px; display:block}

.catalog-category-view .home-new-letter { margin-bottom:17px;}
.catalog-category-view .home-new-letter p { padding-left:31px; background: url(../images/img-email.png) no-repeat left center; margin-bottom:9px;font-family: "HPAvoRegular",Arial,Helvetica,sans-serif; font-size:12px}
.catalog-category-view .home-new-letter #newsletter-validate-detail table {width:100%}
.catalog-category-view .home-new-letter #newsletter-validate-detail .input {border:1px solid #eaeaea; padding:8px; width:91px; margin-right:6px;}
.catalog-category-view .home-new-letter #newsletter-validate-detail .input input { width:100%; font-style: italic;color:#969696; font-size:11px;}
.catalog-category-view .home-new-letter #newsletter-validate-detail .submit { background:url(../images/img-go.png) no-repeat center ; width:32px; height:33px; text-indent:-1999px;cursor: pointer;}
*/



