/*Demo Styles*/
*{ padding:0px; margin:0px; }
body{ background:#D5DEE7; }

.boxgrid{ 
	width:224px; 
	height:266px; 
	margin-right:7px; 
	float:left;
	overflow: hidden; 
	position: relative; 
}
.boxgrid img{ 
	position: absolute; 
	top: 0; 
	left: 0; 
	border: 0; 
}
.boxgrid p{ 
	padding: 0 10px; 
	color:#afafaf; 
	font-weight:bold; 
	font:10pt "Lucida Grande", Arial, sans-serif; 
}

.boxcaption{ 
	float: left; 
	position: absolute; 
	background-color: #e7e2d7; 
	height: auto; 
	width: 100%;
}
.caption .boxcaption {
	top: 221px;
	left: 0;
}
				
.block-buy{overflow:hidden;border:1px solid #e2d6c8;padding:7px 0 7px 7px;background-color:#fff;width:693px;margin-bottom:8px}				
.block-buy .caption .boxcaption h3{margin:0;font-size:12px;color:#ece6da;font-family:arial;text-transform:uppercase;height:45px;overflow:hidden;line-height:45px;background:url(../images/bt-title-block-buy.jpg) no-repeat;text-align:center}		
.block-buy .caption .boxcaption ul{padding:5px 13px 8px;list-style:none}		
.block-buy .caption .boxcaption ul li{padding:1px 0 1px 12px;background:url(../images/arrow-block-buy.jpg) 0 8px no-repeat}		
.block-buy .caption .boxcaption ul li a{color:#282828;text-decoration:none;font-size:11px;font-family:arial}		
.block-buy .caption .boxcaption ul li a:hover{color:#691011}		