.him-menu{padding-bottom: 10px;}
.him-sidebar-home{float: left; width: 60px;}
.him-sidebar-home .social-links{height: 260px; text-align: center;}
.him-sidebar-home .social-links a{display: block;}
.him-maincol-home, .him-maincol-home .block-buy{width: 615px; float:left; padding-left:10px;}
.him-maincol-home .boxgrid{width:185px; height: 260px;}
.him-maincol-home .boxgrid img{width: 160px;}
.home-right{float:right; width:240px;padding-bottom: 20px;}
.home-right .right-slider .news-letter h3{font-weight: bold; font-size: 17px;}
.home-right .input input{width: 170px !important; border: 1px solid #D1D1D1; padding: 4px; margin-bottom: 10px; margin-top: 10px;}
.home-page-sale-shipping .block-sale{width: 240px;}
.home-page-sale-shipping .block-sale .promotion{margin-top: 0px; padding: 10px 75px 0 10px; margin-bottom: 10px; width: 150px;}
.home-page-sale-shipping .block-sale .sale{width: 235px;padding-bottom: 20px; margin-bottom: 5px;}

.home-page-singing-bowl-information, .home-page-antique-singing-bowl, .home-page-new-singing-bowl{width:182px;float:left; margin-right: 10px;padding-left:13px;}
.home-page-singing-bowl-information h2, .home-page-antique-singing-bowl h2, .home-page-new-singing-bowl h2{
    color: #A92C00;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
    text-transform: capitalize;
    font-family: "HPAvoRegular",Arial,Helvetica,sans-serif;
}
.home-right .submit input {
    background: url(../images/bg-go-bottom.png) no-repeat left top;
    width: 44px;
    height: 31px;
    cursor: pointer;
    text-indent: -1983px;
    overflow: hidden;
}
.bank-card .paypal a{display: block; background: url(../images/ico-paypal.jpg) no-repeat 0 top; position: relative; right: 11px;}
.home-block-sale .bank-card a {

    text-indent: -1983px;
    overflow: hidden;
    
}
.home-page-block-sale .authorize{
    height: 70px;
    padding: 10px 0;
    margin-top: 20px;
}
.home-footer .home-page-sale-shipping{padding-left: 81px;}
.home-footer .home-page-sale-shipping .block-sale{float: left;}
.home-footer{clear: right; padding-top: 15px;}
.home-footer .footer-customer-services, .home-footer .footer-get-in-touch,
.home-footer .footer-links{
    background: url(../images/bg-line-2.png) no-repeat right top;
    width: 160px;
    min-height: 150px;
    padding: 0 20px 20px;
    float: left;
    margin-bottom: 20px;
}
.home-footer .footer-customer-services ul li, .home-footer .footer-get-in-touch ul li,
.home-footer .footer-links ul li{
    padding-bottom: 4px;
}
.home-footer .footer-customer-services h3, .home-footer .footer-get-in-touch h3,
.home-footer .footer-links h3{
    font-size: 17px;
    font-weight: bold;
}
.bank-card .authorize a img{left:-15px;}
.home-page-singing-bowl-information p.more-infor a, .home-page-antique-singing-bowl p.more-infor a, .home-page-new-singing-bowl p.more-infor a {
    background: url(../images/ico-arrow-2.png) no-repeat right 4px;
    padding-right: 15px;
    font-style: italic;
}