<?php
$helper = Mage::helper('checkoutnewsletter');
if (Mage::helper('checkoutnewsletter')->isEnabled()): ?>
<li id="register-customer-newsletter"><input type="checkbox" name="billing[is_subscribed]" value="1" title="<?php echo Mage::helper('customer')->__('Sign Up for Newsletter') ?>" id="billing:is_subscribed"<?php echo ($this->isChecked() || $helper->isChecked())?' checked="checked"':'' ?> /> <label for="billing:is_subscribed"><?php echo Mage::helper('customer')->__('Sign Up for Newsletter') ?></label></li>
<script type="text/javascript">
//<![CDATA[
Element.show('register-customer-newsletter');
hideCheckoutNewsletter = function (){
	if (typeof(checkout) != 'undefined'){
    	if (checkout.method == 'register'){
    		<?php if (!$helper->isVisibleRegister()): ?>
    		Element.hide('register-customer-newsletter');
    		$('billing:is_subscribed').checked = false;
    		<?php else: ?>
    		Element.show('register-customer-newsletter');
    		<?php if ($this->isChecked() || $helper->isChecked()): ?>
    		$('billing:is_subscribed').checked = true;
    		<?php endif ?>
    		<?php endif ?>
    	}
    	else if (checkout.method == 'guest'){
    		<?php if (!$helper->isVisibleGuest()): ?>
    		Element.hide('register-customer-newsletter');
    		$('billing:is_subscribed').checked = false;
    		<?php else: ?>
    		Element.show('register-customer-newsletter');
    		<?php if ($this->isChecked() || $helper->isChecked()): ?>
    		$('billing:is_subscribed').checked = true;
    		<?php endif ?>
    		<?php endif ?>
    	}
	}
}
setInterval("hideCheckoutNewsletter()", 100);
//]]>
</script>
<?php endif ?>