			<?php foreach ($this->getStoreCategories() as $_category): ?>
			<?php 
			$tmpl_flag = "";
			if ($_category->getIsActive()) {
				echo '<li><a href="'.$this->getCategoryUrl($_category).'">'.$_category->getName().'</a></li>';
			}
			?>         
			<?php endforeach ?>			
